.timetable {
  overflow: hidden;
  margin-top: 85px;
}

.timetable__list {
  list-style: none;
}

.timetable-item__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
  @media (min-width: @tablet) {
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;
  }
}

.timetable-item__day {
  margin-right: 20px;
  .h4();
}

.timetable-item__date {
  font-size: 12px;
  line-height: 16px;
  color: @date-color;


  @media (min-width: @desktop) {
    font-size: 16px;
    line-height: 26px;
  }
}

.timetable-item__item {

  @media (min-width: @tablet) {
    width: calc(~'50% - 30px');
  }
}

.timetable-item__time {
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @desktop) {
    font-size: 16px;
    line-height: 26px;
  }
}

.timetable-item__name {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;

  @media (min-width: @desktop) {
    font-size: 18px;
    line-height: 26px;
  }
}

.timetable {
  position: relative;
  &__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
  }
  &__left {
    max-width: auto;
    flex-shrink: 0;
    flex-grow: 0;
  }
  &__right {
    flex-shrink: 1;
    flex-grow: 1;
    background-color: #fff;
    &:last-child {
      margin-bottom: 20px;
    }
  }
  @media (min-width: @tablet) {
    .timetable__row {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      &:last-child {
        .timetable__right {
          border-bottom: 1px solid #F2F5FA;
        }
      }
    }
    .timetable__left {
      max-width: 100px;
      margin: 0;
      padding: 0 30px 0 10px;
    }
    .timetable__right {
      border: 1px solid #F2F5FA;
      border-bottom: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.subject {
  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: @tablet) {
      flex-direction: row;
    }
  }
  
  &__item {
    flex-grow: 1;
    padding: 25px 20px;
    border: 1px solid #F2F5FA;
    border-bottom: 0;
    &:last-child {  
      border-bottom: 1px solid #F2F5FA;
    }
    @media (min-width: @tablet) {
      border: 0;
      border-right: 1px solid #F2F5FA;
      &:last-child {  
        border: 0;
      }
    }
  }
}

.slider__controls--timetable {
  position: absolute;
  top: 0;
  right: 0;
  perspective: 200px;
  outline: none;
  .slider__control {
    width: 34px;
    height: 34px;
    &:first-child {
      transform: rotateY(-10deg);
    }
    &:last-child {
      margin-right: 0;
      transform: rotateY(10deg);
    }
  }
}
