.timetable-subject {
  padding: 10px 0 0;


  @media (min-width: @desktop) {
    padding: 40px 0 0;
  }
}



.timetable-subject__list {
  list-style: none;
}



.timetable-subject__item {
  margin: 0 0 15px;


  @media (min-width: @desktop) {
    margin: 0 0 60px;
  }
}


.timetable-subject-item__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timetable-subject-item__day {
  .h4();
}

.timetable-subject-item__date {
  font-size: 12px;
  line-height: 16px;
  color: @date-color;


  @media (min-width: @desktop) {
    font-size: 16px;
    line-height: 26px;
  }
}

.timetable-subject-item__list {
  list-style: none;
  padding: 15px 0 0;


  @media (min-width: @tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    width: calc(~'100% + 30px');
    margin: 0 -15px;
  }
}

.timetable-subject-item__item {
  cursor: pointer;
  margin: 0 0 15px;


  @media (min-width: @tablet) {
    width: calc(~'50% - 30px');
    margin: 0 15px 15px;
  }
}

.timetable-subject-item__content {
  .block-stroke();
}

.timetable-subject-item__about {
  padding: 10px 25px 25px;


  @media (min-width: @tablet) {
    padding: 20px 25px 30px;
  }

  @media (min-width: @desktop) {
    padding: 20px 20px 25px;
  }
}

.timetable-subject-item__time {
  font-size: 14px;
  line-height: 18px;


  @media (min-width: @desktop) {
    font-size: 16px;
    line-height: 26px;
  }
}

.timetable-subject-item__name {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  margin: 10px 0;


  @media (min-width: @desktop) {
    font-size: 18px;
    line-height: 26px;
  }
}

.timetable-subject-item__additional {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  line-height: 16px;


  @media (min-width: @desktop) {
    font-size: 14px;
    line-height: 18px;
  }
}

.timetable-subject-item__place {
  padding: 0 5px 0 0;
}

.timetable-subject-item__class {
  color: @date-color;
  padding: 0 0 0 5px;
}

.timetable-subject-item__people {
  padding: 20px;
  border-top: 1px solid #f2f5fa;


  @media (min-width: @tablet) {
    padding: 20px 20px 30px;
  }

  @media (min-width: @desktop) {
    padding: 20px;
  }
}

.timetable-subject-item__type {
  font-size: 11px;
  line-height: 15px;
  font-style: italic;
  color: @date-color;


  @media (min-width: @desktop) {
    font-size: 14px;
    line-height: 18px;
  }
}

.timetable-subject-item__people-list {
  list-style: none;
  padding: 10px 0 0;


  @media (min-width: @tablet) {
    padding: 15px 0 0;
  }

  @media (min-width: @desktop) {
    padding: 5px 0 0;
  }
}

.timetable-subject-item__people-item {
  font-size: 14px;
  line-height: 18px;
  padding: 0 0 5px;


  @media (min-width: @desktop) {
    font-size: 16px;
    line-height: 26px;
    padding: 0;
  }
}
