.tns-outer {
  padding: 0;
}

.tns-outer [hidden] {
  display: none;
}

.tns-outer [aria-controls],
.tns-outer [data-action] {
  cursor: pointer;
}

.tns-outer.ms-touch {
  overflow-x: scroll;
  overflow-y: hidden;
}

.tns-slider {
  transition: all 0s;
}

.tns-slider > .tns-item {
  box-sizing: border-box;
}

.tns-horizontal.tns-subpixel {
  white-space: nowrap;
}

.tns-horizontal.tns-subpixel > .tns-item {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}

.tns-horizontal.tns-no-subpixel:after {
  content: '';
  display: table;
  clear: both;
}

.tns-horizontal.tns-no-subpixel > .tns-item {
  float: left;
  margin-right: -100%;
}

.tns-no-calc {
  position: relative;
  left: 0;
}

.tns-gallery {
  position: relative;
  left: 0;
  min-height: 1px;
}

.tns-gallery > .tns-item {
  position: absolute;
  left: -100%;
  transition: transform 0s, opacity 0s;
}

.tns-gallery > .tns-moving {
  transition: all 0.25s;
}

.tns-lazy-img {
  transition: opacity 0.6s;
  opacity: 0.6;
}

.tns-lazy-img.loaded {
  opacity: 1;
}

.tns-ah {
  transition: height 0s;
}

.tns-ovh {
  overflow: hidden;


  @media (min-width: @tablet) {
    .index-about &,
    .news &,
    .timetable & {
      overflow: visible;
    }
  }
  .index-about{
    width: 75%;
  }

}

.tns-hdx {
  overflow-x: hidden;
}

.tns-hdy {
  overflow-y: hidden;
}

.tns-visually-hidden {
  position: absolute;
  left: -10000em;
}

.tns-transparent {
  opacity: 0;
  visibility: hidden;
}

.tns-fadeIn {
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 0;
}

.tns-normal,
.tns-fadeOut {
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1;
}
.flex-desktop{
  @media (min-width: @tablet){
    display: flex;
  }
}
.before{
  .tns-slide-active{
    &:before{
      display: block;
      content: '';
      background: #fff;
      opacity: 0.5;
      top: 0;
      left: 0;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
    }
  }
  li.tns-item{
    &:last-of-type{
      &:before{
        display: none;
      }
    }
  }
}
.tns-slide-active{
  position: relative;
  .announcements__item-content{
    position: relative;
    z-index: 1;
  }
  &.announcements__item--active{
    &:before{
      display: none;
    }
  }
  &.index-slider__item{
    &:before{
      display: none;
    }
  }
}