.filter {
  margin: 0 0 10px 0;
  background: url(../img/bg.svg) no-repeat right bottom;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);

}

.filter__container {
  padding: 0;


  @media (min-width: @tablet) {
    padding: 0 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  @media (min-width: @desktop) {
    padding:22px 85px 20px 77px;
  }
}



.filter__form {
  background-color: #ffffff;
}



.filter__form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px 13px;
  border-bottom: 1px solid @border-color;


  @media (min-width: @tablet) {
    border-bottom: none;
    padding: 10px 5px;
    margin: 0 20px 0 0;
  }
  @media (min-width: @desktop) {
    margin: 0 47px 0 0;
  }
}



.filter__label {
  flex-shrink: 0;
  font-size: 14px;
  line-height: 18px;


  @media (min-width: @desktop) {
    font-size: 20px;
    line-height: 31px;
  }
}



.filter__select {
  font-size: 14px;
  line-height: 18px;
}