.result {
	margin: 35px 0 0;

	@media (min-width: @tablet) {
		margin: 40px 0 0;
	}

	@media (min-width: @desktop) {
		margin: 105px 0 0;
	}
}

.result__header {
	.h2();
	margin: 0 0 13px;

	@media (min-width: @tablet) {
		margin: 0 0 10px;
	}

	@media (min-width: @desktop) {
		margin: 0 0 25px;
	}
}

.result__list {
	list-style: none;

	&--events {
		@media (min-width: @tablet) {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: stretch;
			width: calc(~'100% + 30px');
			margin: 0 -15px;
		}
	}
	&--news {
		@media (min-width: @tablet) {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: stretch;
			width: calc(~'100% + 30px');
			margin: 0 -15px;
		}
	}
}

.result__item {
	cursor: pointer;
	.result__list--events & {
		margin: 0 0 15px;

		@media (min-width: @tablet) {
			width: calc(~'50% - 30px');
			margin: 0 15px 30px;
		}
	}

	.result__list--news & {
		margin: 0 0 15px;

		@media (min-width: @tablet) {
			width: calc(~'33.333333% - 30px');
			margin: 0 15px 15px;
		}
	}
}

.result__more-wrapper {
	justify-content: center;
}

.result__more {
	font-size: 18px;
	&--hidden {
		display: none;
	}
}
