.result-subject {
	background-color: #ffffff;
	.block-stroke();
	padding: 0 10px;
	margin: 0 0 15px;
	cursor: pointer;

	@media (min-width: @tablet) {
		margin: 0 0 25px;
	}

	@media (min-width: @desktop) {
		padding: 25px;
	}
}

.result-subject__info {
	position: relative;
	padding: 10px 30px 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (min-width: @tablet) {
		justify-content: space-between;
	}
}

.result-subject__parameter {
	font-size: 18px;
	line-height: 32px;
	font-weight: 500;
	margin: 5px 0;

	&--level {
		line-height: 18px;
		font-weight: 400;
		padding: 0 0 0 75px;
		position: relative;

		&:before {
			content: '';
			display: block;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-image: url(../img/icon_difficulty.svg);
			background-repeat: repeat-x;
		}
	}

	&&--name {
		width: 500px;
	}

	&--level1 {
		&:before {
			width: 20px;
		}
	}

	&--level2 {
		&:before {
			width: 40px;
		}
	}

	&--level3 {
		&:before {
			width: 60px;
		}
	}
	@media (min-width: @desktop) {
		width: 33.3333%;
		font-size: 26px;
		line-height: 32px;
		&--level {
			padding-left: 115px;
			font-size: 16px;
			&:before {
				background: url(../img/star_big.svg);
			}
		}
		&--level1 {
			&:before {
				width: 35px;
			}
		}

		&--level2 {
			&:before {
				width: 70px;
			}
		}

		&--level3 {
			&:before {
				width: 105px;
			}
		}
	}
	@media (min-width: @tablet) {
		align-self: center;

		&--name {
			width: 230px;
		}

		&--class {
			width: 130px;
		}
	}
}

.result-subject__toggle {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
}

.result-subject__toggle-icon {
	display: block;
	width: 15px;
	height: 16px;
	transform-origin: 50% 50%;
	transition: 0.3s transform;

	.result-subject--open & {
		transform: rotate(180deg);
	}

	&--link {
		transform: rotate(-90deg);
	}

	@media (min-width: @desktop) {
		width: 25px;
		height: 26px;
	}
}

.result-subject__text {
	font-size: 14px;
	line-height: 18px;
	color: @additional-text-color;
	margin: 0 0 18px;

	@media (min-width: @desktop) {
		font-size: 18px;
		line-height: 26px;
	}
}
