.directions {
  padding: @block-padding;

  background: url("../img/10.png") no-repeat;
  background-position: 313px -67px;
  @media (min-width: @tablet) {
    padding: 31px 0 0;
    background: none;
  }

  @media (min-width: @desktop) {
    padding: 85px 0 15px;
  }

}


.directions__header {
  font-size: 50px;
  line-height: normal;
  .h3{};
  margin: 30px 0 15px;

  @media (min-width: @mobile){
    font-size: 24px;
  }
  @media (min-width: @tablet) {
    margin: 30px 0 20px;
    font-size: 22px;
  }

  @media (min-width: @desktop) {
    margin: 30px 0 25px;
    font-size: 56px;
  }
}



.directions__list {
  list-style: none;

  @media (min-width: @tablet) {
    width: calc(~'100% + 30px');
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-between;
    //align-items: stretch;
  }
  .directions--item{
    width: 100%;
  }
  .directions--wrapp{
    display: block;
  }
}
.directions-item__all{
  padding: 25px 0 0;
}


.directions__item {
  margin: 0 0 15px;


  @media (max-width: (@tablet - 1)) {
    &:last-child {
      margin-bottom: 0;
    }
  }


  @media (min-width: @tablet) {
    width: calc(~'50% - 36px');
    margin: 0 18px 38px 15px
  }
}

.directions-item{
  &.directions-item--alignCenter{
    @media (min-width: @tablet){
      display: flex;
      align-items: center;
    }
    @media (max-width: @desktop){
      padding: 15px 35px 15px 20px;
    }
  }

}
.button--subscribe{
  border-radius: 5px;
  transform-origin: left;
  transform: rotateY(10deg);
  transition: 0.3s transform;

  width: 210px;
  height: 45px;
  display: block;
  line-height: 45px;
  font-size: 16px;
  margin: 25px 0 0;
  &:hover{
    transform: rotateY(0);
  }
  @media (max-width: @desktop){
    display: none;
  }
}
.sections__text-wrapper{
  font-size: 14px;
  color: #5B5E6D;
  ul,ol{
    padding-bottom: 30px;
    padding-left: 20px;
  }
}