.directions-item {
  display: block;
  overflow: hidden;
  position: relative;
  .block-stroke();
  height: 322px;
  padding: 15px 20px 15px 15px;
  background-color: #ffffff;

  &:after {
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -15px;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
  }





  &--section:after {
    width: 157px;
    height: 227px;
    background-image: url(../img/direction-section.svg);
  }

  &--tournament:after {
    width: 219px;
    height: 227px;
    background-image: url(../img/direction-tournament.svg);
  }

  &--camp:after {
    width: 225px;
    height: 227px;
    background-image: url(../img/direction-camp.svg);
  }

  &--remote-contest:after {
    width: 194px;
    height: 227px;
    background-image: url(../img/direction-remote_contest.svg);
  }


  &:hover,
  &:focus {
    overflow: visible;
  }


  @media (min-width: @tablet) {
    height: 392px;

    &--section:after {
      width: 194px;
      height: 280px;
    }

    &--tournament:after {
      width: 270px;
      height: 280px;
    }

    &--camp:after {
      width: 277px;
      height: 280px;
    }

    &--remote-contest:after {
      width: 239px;
      height: 280px;
    }
  }

  @media (min-width: @desktop) {
    height: 520px;
    padding: 30px;


    &--section:after {
      width: 287px;
      height: 415px;
    }

    &--tournament:after {
      width: 400px;
      height: 415px;
    }

    &--camp:after {
      width: 410px;
      height: 415px;
    }

    &--remote-contest:after {
      width: 354px;
      height: 415px;
    }
  }
}

.directions-item__header {

  font-size: 24px;
  line-height: 31px;
  text-transform: uppercase;
  margin: 0 0 20px;
  transition: 0.5s color;


  .directions-item:hover &,
  .directions-item:focus & {
    color: @hover-text-color;
  }



}
.description--head{
  @media (min-width: @desktop) {
    margin: 0 0 15px;
    font-size: 56px;
  }
}


.directions-item__list {
  list-style: none;
  @media (min-width: @tablet){
    padding-top:0;
  }
  @media (min-width: @desktop){
    padding-top: 8px;
  }
}



.directions-item__item {
  font-size: 14px;
  line-height: 20px;
  color: @additional-text-color;
  padding: 0 0 0 10px;
  position: relative;
  z-index: 1;

  &:before {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: @additional-text-color;
    position: absolute;
    top: 6px;
    left: 0;
  }


  @media (min-width: @desktop) {
    font-size: 18px;
    line-height: 26px;
    padding: 0 0 0 12px;

    &:before {
      top: 12px;
    }
  }
}



.directions-item__icon {
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #333;
  transition: 0.5s fill;


  .directions-item:hover &,
  .directions-item:focus & {
    //fill: @hover-text-color;
  }


  @media (min-width: @desktop) {
    top: 37px;
  }
}



.directions-item__text {
  margin: 0 0 15px;
  line-height: 26px;
}



.directions-item__link-wrapper {
  margin: 15px 0 0;
}



.directions-item__link {
  color: @hover-text-color;
  font-size: 16px;
  line-height: 26px;
  width: 210px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
