.hamburger {
  width: 20px;
  height: 16px;
  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  transition: background 0.3s 0.5s;

  @media (min-width: @mobile){
    width: 22px;
    height: 22px;
    margin-right: 18px;
  }
  @media (min-width: @desktop) {
    display: none;
  }
}



.hamburger__decoration {
  width: 100%;
  height: 2px;
  background: #000000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000000;
    transform-origin: 50% 50%;
    transition: top 0.3s 0.6s, transform 0.3s;
  }

  &:before {
    top: -7px;
  }

  &:after {
    top: 7px;
  }


  .hamburger--open & {
    background: transparent;

    &:before,
    &:after {
      transition: top 0.3s, transform 0.3s 0.5s;
      top: 0;
    }

    &:before {
      transform: rotate3d(0, 0, 1, 45deg);
    }

    &:after {
      transform: rotate3d(0, 0, 1, -45deg);
    }
  }
}
