.main-navigation {
  width: calc(~'100% - 20px');
  background-color: #ffffff;
  display: flex;


  &--footer {
    background-color: transparent;
    margin: 0 0 15px;
    width: 100%;
  }

  @media (min-width: @mobile){
    padding: 0 0 0 5px;
  }

  @media (min-width: @tablet) {
    &--footer {
      margin: 0 0 30px;
    }
  }

  @media (min-width: @desktop) {
    width: 100%;
    order: 10;
    margin: 15px 0 0;

    &--footer {
      margin: 0 0 45px;
    }
  }
}



.main-navigation__list {
  list-style: none;


  @media (min-width: @tablet) {
    .main-navigation--footer & {
      width: 510px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  @media (min-width: @desktop) {
    width: calc(~'100% + 30px');
    margin: 0 -15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .main-navigation--footer & {
      width: 570px;
      margin: 0 0 0;
    }
  }
}



.main-navigation__item {
  padding: 9px 0 9px;

  .main-navigation--footer & {
    padding: 10px 0 5px;
  }


  @media (min-width: @tablet) {
    .main-navigation--footer & {
      width: 50%;
      padding: 0 30px 13px 0;
    }
  }

  @media (min-width: @desktop) {
    .main-navigation--footer & {
      margin: 0;
      width: 33.333333%;
    }
  }
}



.main-navigation__link {
  line-height: 23px;
  font-weight: 500;
  transition: 0.3s color;

  &:hover,
  &:focus {
    color: @hover-text-color;
  }

  .main-navigation--footer & {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
  }


  @media (min-width: @desktop) {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  &.current{
    text-decoration: underline;
  }
}
