.page-header {
  background-color: #ffffff;


  @media (min-width: @desktop) {
    padding: 13px 0  20px 0;
  }
}



.page-header__container {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: unset;
  @media (min-width: @desktop) {
    align-items: flex-start;
  }
  @media (max-width: @tablet){
    border-bottom: 1px solid @border-color;
  }
}



.page-header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 13px 0;


  @media (min-width: @tablet) {
    padding: 15px 0  15px 15px;
    border-bottom: 1px solid @border-color;
  }

  @media (min-width: @desktop) {
    border-bottom: none;
    padding: 0;
  }
}



.page-header__menu {
  display: none;


  &.no-js,
  &--open {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: calc(~'100% - 20px');
    top: 100%;
    left: 10px;
    z-index: 10;
    background-color: #ffffff;

    border-top: 1px solid #edeaea;
    @media (min-width: @tablet){
      border-top: none;
    }
    @media (max-width: @tablet){
      padding: 10px 0 20px;
    }
    .main-navigation{
      display: block;
    }
  }

  @media (min-width: @tablet) {
    &.no-js,
    &--open {
      justify-content: space-around;
    }
  }

  @media (min-width: @desktop) {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    position: static;
    width: 100%;
  }
}



.page-header__contacts {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @media (min-width: @desktop) {
    justify-content: space-around;
  }


  @media (min-width: @desktop) {
    justify-content: space-between;
    border-bottom: 1px solid @border-color;
    padding: 0 0 14px;
  }
}



.page-header__phone {
  line-height: 19px;
  display: none;


  @media (min-width: @desktop) {
    font-size: 20px;
    line-height: 24px;
    display: block;
    width: 185px;
    text-align: right;
  }
}
.page-header__search{
  display: flex;
  width:calc(~'100% - 50px');
  padding-right: 20px;
  align-items: center;
  @media (min-width: @mobile){
    padding-right: 0;
  }
  @media (min-width: @desktop) {
    width: 540px;
    padding-right: 0;
    border-right: #EDEAEA solid 1px;
    height: 40px;
  }
}
.search-input{
  border: none;
  outline: none;
  width: calc(~'100% - 30px');
  line-height: 17px;
  font-size: 14px;
  font-style: italic;
  color: #333;

  &::placeholder{
    color: #828282;
  }
}
.search-button{
  background: url(../img/search_icon.svg);
  width: 21px;
  height: 21px;
  border: none;
  cursor: pointer;
  outline: none;
  margin-right: 32px;
}
.social-block{
  display: none;
  svg{
    fill: #ffffff;
  }
  @media (min-width: @desktop) {
    display: flex;
  }

}
.social-link{
  border-radius: 5px;
  transform-origin: left;
  transform: rotateY(20deg);
  transition: 0.3s transform;
  margin: 0 0 0 15px;
  width: 28px;
  height: 28px;
  position: relative;
  display: block;

  &--vk{
    background: #4C75A3;
  }
  &--facebook{
    background: #3B5998;
  }
  &:hover{
    transform: rotateY(0);
  }
}
.control-panel{
  width: 100%;
  @media (min-width: @mobile){
    padding: 33px 0 0 0;

  }
  @media (min-width: @tablet){
    padding: 35px 0 0;
    border-bottom: 1px solid #edeaea;
  }
  @media (min-width: @desktop) {
    padding: 0;
    border-bottom: none;
  }


}
.hide{
  display: none;
}