.user-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  @media (max-width: @desktop) {
    justify-content: space-around;
  }
  @media (max-width: @tablet){
    padding-left: 0;
    justify-content: space-between;
  }
}
.button.button--open-lk{
  width: 90px;
  height: 35px;
}
.mobile-phone{
  display: none;
  @media (max-width: @desktop) {
    display: block;
  }
}
