.sections {
  padding: 10px 0;


  @media (min-width: @tablet) {
    padding: 40px 0 0;
  }

  @media (min-width: @desktop) {
    padding: 50px 0 0;
  }
}



.sections__list {
  list-style: none;
}



.sections__item {
  display: none;


  &--active {
    display: block;
  }
}



.sections__header {
  .h2();
  margin: 0 0 12px;
}



.sections__text {
  font-size: 14px;
  line-height: 18px;
  color: @additional-text-color;
  margin: 0 0 18px;


  @media (min-width: @desktop) {
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 26px;
  }
}



.sections__link-wrapper {
  margin: 0 0 12px;
  font-size: 12px;
  line-height: 16px;


  @media (min-width: @desktop) {
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 20px;
  }
}



.sections__link-name {
  color: @date-color;
  padding: 0 5px 0 0;
}



.sections__link {
  color: @hover-text-color;

  &:hover,
  &:focus {
    color: @hover-link-color;
    text-decoration: underline;
  }
}
