.tab-block__row {
  padding: 20px 0 10px;
  border-bottom: 1px solid @border-color;
  overflow: auto;
  position: relative;
  white-space: nowrap;

  @media (min-width: @tablet) {
    padding: 40px 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
  }
}



.tab-block__list {
  list-style: none;


  @media (min-width: @tablet) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  @media (max-width: @tablet){
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}



.tab-block__item {
  font-size: 14px;
  line-height: 17px;
  padding: 2px 10px 3px;
  @media (min-width: @tablet) {
    padding: 2px 0 3px;
  }


  @media (min-width: @tablet) {
    margin-right: 60px;
    padding: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (min-width: @desktop) {
    font-size: 18px;
    line-height: 26px;
  }
}



.tab-block__name {
  font-weight: 500;
  color: @date-color;
  cursor: pointer;


  &--active {
    cursor: default;
    color: @main-text-color;
    position: relative;

    //text-decoration: underline;
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: @main-text-color;
      position: absolute;
      bottom: -13px;
      left: 0;
    }

  }


  @media (min-width: @tablet) {
    display: block;
    padding: 0 0 5px;

    &--active {
      position: relative;
      text-decoration: none;
      &:after {
        bottom: -5px;
      }
    }
  }

  @media (min-width: @desktop) {
    padding: 0 0 10px;
  }
}



.tab-block__link-wrapper {
  font-size: 14px;
  line-height: 17px;


  @media (min-width: @desktop) {
    font-size: 16px;
    line-height: 26px;
  }
}



.tab-block__link {
  color: @hover-text-color;
  transition: 0.3s color;

  &:hover,
  &:focus {
    color: @hover-link-color;
    text-decoration: underline;
  }
}
