.achievements {

  &--index {
    position: relative;
    z-index: 0;
    margin: -70px 0 0;
    display: block;


    @media (min-width: @desktop) {
      display: flex;
      flex-direction: row-reverse;
      .tns-outer{
        width: 75%;
      }
    }

    .achievements__item{
      width: calc(~'33.33333% - 30px');

    }

  }

  @media (min-width: @tablet) {
    margin: 0 0 0;
  }

  @media (min-width: @desktop) {
    padding: 15px 0 0;
  }
}


.achievements__about {
  width: 25%;
  padding: 0 0 30px 25px;
  @media (max-width: @desktop) {
    padding: 0 0 30px 0;
    width: 100%;
    text-align: left;
  }


}



.achievements__header {
  .h4();
  margin: 0 0 5px;


  @media (min-width: @desktop) {
    margin: 0 0 15px;
  }
}



.achievements__text {
  color: @additional-text-color;
  margin: 0 0 10px;


  @media (min-width: @desktop) {
    margin: 0 0 20px;
    padding-top: 5px;
  }
}



.achievements__link-wrapper {
  display: flex;
  justify-content: end;
  padding: 5px 0 0;
  a{
    font-size: 16px;
  }
}



.achievements__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 22px 0 0;
  padding: 0 0 20px;

  .achievements--index & {
    align-items: stretch;
  }


  @media (min-width: @tablet) {
    align-items: stretch;
    width: calc(~'100% + 30px');
    margin: 0 -15px;
    display: flex;
  }
}



.achievements__item {
  width: 100%;
  margin: 0 0 15px;

  @media (min-width: @tablet) {
    width: calc(~'33.33333% - 30px');
    margin: 0 15px 30px;
  }
  @media (min-width: @desktop) {
    width: calc(~'25% - 30px');
    margin: 0 15px 30px;
  }
}



.achievements__link {
  display: block;
  height: 100%;
  padding: 40px 15px 57px 20px;
  &--width75{width: 75%;}
  .block-stroke();
  background-color: #ffffff;
  &:hover{
    height: 105%;
    .achievements__name{
      color: #5D4AF7;
    }
  }
}



.achievements__img-wrapper {
  padding: 0 0 25px;
}



.achievements__img {
  display: block;
  margin: 0 auto;
}



.achievements__date {
  .time();
  margin: 12px 0 23px;
}



.achievements__name {
  font-size: 20px;
  line-height: normal;
  font-weight: 500;
  margin: 0 0 17px;
  min-height: 24px;
}



.achievements__description {
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 7px;
}



.achievements__more {
  &--disabled {
    display: none;
  }
}
.arhive{
  a{
    &:hover{
      color: #5d4af7;
    }
  }
}