.agreement {
  padding: 25px 0;
  position: relative;
  text-align: left;


  &--error {
    &:after {
      content: 'Необходимо согласие';
      display: block;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 14px;
      color: #fe6681;
    }
  }
}



.agreement__input {
  display: none;
}



.agreement__label {
  font-size: 14px;
  line-height: 18px;
  padding: 0 0 0 35px;
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  cursor: pointer;

  &:before {
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #cbcbcb;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  .agreement__input:checked + & {
    &:after {
      content: '';
      width: 11px;
      height: 19px;
      border: 2px solid #000000;
      border-left: none;
      border-top: none;
      display: block;
      position: absolute;
      top: -2px;
      left: 5px;
      transform-origin: 50% 50%;
      transform: translate(50%) rotate(45deg);
    }
  }


  @media (min-width: @tablet) {
    line-height: 25px;
  }
}



.agreement__link {
  text-decoration: underline;
}
