.announcements {
  background: #ffffff;
  padding: @block-padding;
  
  
  @media (min-width: @tablet) {
    padding: 0 0 30px;
  }
}



.announcements__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0 10px;
  
  @media (min-width: @tablet){
    padding: 28px 0 10px;
  }
  @media (min-width: @desktop) {
    justify-content: flex-start;
    padding: 25px 0 40px;
  }
}



.announcements__header {
  .h4();
}




.announcements__controls {
  display: none;

  @media (min-width: @tablet){
    margin: 0 10px 0 0;
  }
  @media (min-width: @desktop){
    margin: 0 0 0 20px;
  }
}

.announcements__controls--active {
  display: flex;
}

.announcements__list {
  list-style: none;
}



.announcements__item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}



.announcements__item-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}



.announcements__img-wrapper {
  width: 90px;
  flex-shrink: 0;
  box-shadow: 0 4px 0 #f2f5fa;
  border: 1px solid #f2f5fa;
  
  
  @media (min-width: @tablet) {
    width: 100px;
  }
  
  @media (min-width: @desktop) {
    width: 160px;
  }
}

.announcements__img {
  display: block;
  margin: 0 auto;
}



.announcements__info {
  flex-grow: 1;
  padding: 0 0 0 10px;
  
  
  @media (min-width: @desktop) {
    padding: 0 0 0 30px;
  }
}



.announcements__date {
  .time();
}



.announcements__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  margin: 10px 0 5px;
  
  
  @media (min-width: @desktop) {
    font-size: 24px;
    line-height: 29px;
    margin: 25px 0 15px;
  }
}



.announcements__description {
  font-size: 14px;
  line-height: 18px;
  
  
  @media (min-width: @desktop) {
    font-size: 16px;
    line-height: 26px;
  }
}
