.accordion {
  &__list {
    list-style: none;
  }
  &__item {
    margin-bottom: 30px;
    padding: 0 30px;
    border: 1px solid #F2F5Fa;
    border-radius: 5px;
    box-shadow: 0 5px 0 rgb(242, 245, 250);
    transition: .25s;
    &--active {
      box-shadow: 0 5px 25px rgb(195, 204, 222);
      .accordion__title {
        &::after {
          transform: rotate(0);
        }
      }
    }
  }
  &__title {
    position: relative;
    font-size: 36px;
    line-height: 43px;
    font-weight: 500;
    padding: 30px 0;
    cursor: pointer;
    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      right: 2px;
      top: 50%;
      transform: translateY(-50%);
      transform: rotate(-180deg);
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      border-bottom: 14px solid #333;
      transition: .25s;
    }
  }
}

.info {
  max-height: 0;
  transition: .25s all linear;
  overflow: hidden;
  overflow-y: visible;

  &--active {
    max-height: 608px;
  }
  &__head-title {
    font-size: 26px;
    line-height: 31px;
    margin-bottom: 17px;
    font-weight: 500;
  }
  &__list {
    list-style: none;
  }
  &__item {
    margin-bottom: 40px;
  }
  &__element {
    margin-bottom: 35px;
    padding: 0 30px;
  }
  &__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 14px;
    font-weight: 500;
  }
  &__link {
    font-size: 18px;
    line-height: 26px;
    display: inline-block;
    padding: 0 20px;
    color: #5D4AF7;
    text-decoration: underline;
    cursor: pointer;
  }
}