.breadcrumbs__list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  padding: 5px;


  @media (min-width: @desktop) {
    padding: 10px 0;
  }
}



.breadcrumbs__item {
  padding: 0 26px 0 0;
  position: relative;

  &:last-child {
    padding: 0;
  }
}



.breadcrumbs__link {
  font-size: 12px;
  line-height: 16px;
  color: @date-color;


  @media (min-width: @desktop) {
    font-size: 14px;
    line-height: 18px;
  }
}



.breadcrumbs__icon {
  width: 9px;
  height: 7px;
  position: absolute;
  top: 4px;
  right: 8px;
  bottom: 0;
  margin: auto;
  color: @date-color;
  transform-origin: 50% 50%;
  transform: rotate(180deg);
  fill: @date-color;
}
