.button {
  width: 140px;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  border: none;
  border-radius: 5px;
  position: relative;
  color: #ffffff;
  background-color: transparent;
  perspective: 200px;

  &--border {
    color: @hover-text-color;
  }

  & + & {
    margin-left: 25px;
  }
}



.button__wrapper {
  display: flex;


  &--center {
    justify-content: center;
  }
}



.button__decoration {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  transform-origin: left;
  transform: rotateY(10deg);
  transition: 0.3s transform;
  background-color: @hover-text-color;
  z-index: -1;


  .button--border & {
    background-color: transparent;
    border: 1px solid @hover-text-color;
  }


  .button:hover &,
  .button:focus & {
    transform: rotateY(0);
  }
}
.button.button--big{
  width: 210px;
  height: 45px;
  line-height: 45px;
}
.button.button--big160{
  height: 45px;
  line-height: 45px;
  @media (min-width: @tablet){
    width: 130px;
  }
  @media (min-width: @desktop){
    width: 160px;
  }

}
.button.button--white{
  transition: 0.5s;
  width: 255px;
  height: 45px;
  line-height: 45px;
  color: #5D4AF7;
  span{
    background-color: #ffffff;
    box-shadow: 0 4px 0 #f2f5fa;
    border: 1px solid #f2f5fa;
    border-radius: 5px;
  }
}
