.visually-hidden {
  &:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}



.container {
  width: 100%;
  min-width: @mobile;
  margin: 0 auto;
  padding: 0 10px;


  &--relative {
    position: relative;
  }


  @media (min-width: @tablet) {
    width: @tablet;
  }


  @media (min-width: @desktop) {
    width: @desktop - 20;
    padding: 0 85px;
  }
}
