.contacts__row {
  @media (min-width: @desktop) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: calc(~'100% + 30px');
    margin: 0 -15px;
  }
}



.contacts__content {
  @media (min-width: @desktop) {
    width: calc(~'33.333333% - 30px');
    margin: 0 15px;
  }
}



.contacts__header {
  .h1();
  margin: 21px 0 60px;
}



.contacts__phone {
  color: @additional-text-color;
  margin: 0 0 20px;
}



.contacts__phone-link {
  transition: 0.3s color;


  &:hover,
  &:focus {
    color: @hover-text-color;
  }

  &:active {
    color: @hover-link-color;
  }
}



.contacts__map-wrapper {
  margin: 40px 0 20px;
  height: 170px;

  @media (min-width: @tablet) {
    height: 300px;
  }

  @media (min-width: @desktop) {
    width: calc(~'66.666666% - 30px');
    margin: 0 15px;
    height: 430px;
  }
}



.contacts__map-img {
  display: block;
  margin: 0 auto;
}
