.documents {
  padding: 17px 0 0;
}



.documents__block {
  padding: 0 0 40px;


  @media (min-width: @desktop) {
    padding: 0 0 80px;
  }
  &--no-slider{
    .slider__controls{
      display: none;
    }
    @media (min-width: @tablet){
      .documents__item{
        width: calc(~'33% - 30px');
      }
    }
    @media (min-width: @desktop){
      .documents__item{
        width: calc(~'25% - 30px');
      }
    }
  }
}



.documents__block-name {
  .h4();
}



.documents__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}



.documents__list {
  list-style: none;
  padding: 33px 0 0;


  .documents.no-js & {
    width: calc(~'100% + 30px');
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
  }
}



.documents__item {

  .documents.no-js & {
    width: calc(~'25% - 30px');
    margin: 0 15px 30px;
  }
}



.documents__link {
  display: block;

  &:focus {
    outline: none;
  }
}



.documents__img-wrapper {
  height: 260px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  .block-stroke();


  .documents__link:hover &,
  .documents__link:focus & {
    box-shadow: 0 8px 20px #c3ccde;
  }
}



.documents__name {
  font-size: 16px;
  line-height: 26px;
  margin: 10px 0 0;

  .documents__link:hover &,
  .documents__link:focus & {
    color: @hover-text-color;
  }


  @media (min-width: @desktop) {
    font-size: 18px;
    margin: 31px 0 5px;
  }
}



.documents__info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 12px;
  line-height: 16px;
  color: #7a7a7a;


  @media (min-width: @desktop) {
    font-size: 14px;
    line-height: 18px;
  }
}



.documents__size {
  padding: 0 0 0 5px;
}



.documents__controls {
  margin: 0 0 0 20px;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;


  .documents.no-js & {
    display: none;
  }
}



.documents__control {
  border: none;
  background-color: transparent;
  width: 35px;
  height: 35px;
  cursor: pointer;
  .block-stroke();
  margin: 0 5px;
  position: relative;
}



.documents__control-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: 0.3s opacity;

  .documents__control[disabled] & {
    opacity: 0.3;
  }
}
ol,ul{
  font-size: 18px;
}

