.files {
  padding: 10px 0;
}



.files__list {
  list-style: none;


  @media (min-width: @tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(~'100% + 30px');
    margin: 0 -15px;
  }
}



.files__item {
  margin: 0 0 15px;


  @media (min-width: @tablet) {
    width: calc(~'50% - 30px');
    margin: 0 15px 15px;
  }
}



.files__link {
  display: inline-block;
  vertical-align: top;
  padding: 0 0 0 60px;
  position: relative;
  min-height: 40px;


  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }


  &--doc {
    &:before {
      background-image: url(../img/icon-doc.svg);
    }
  }

  &--pdf {
    &:before {
      background-image: url(../img/icon-pdf.svg);
    }
  }


  @media (min-width: @desktop) {
    padding: 0 0 0 75px;
    min-height: 70px;

    &:before {
      width: 66px;
      height: 66px;
    }
  }
}



.files__name {
  padding: 0 0 0;
}



.files__info {
  color: @date-color;
  font-size: 12px;
  line-height: 16px;
  p{
    font-size: 14px;
  }
}



.files__size {
  display: inline;
}
.filter__input-calendar{
  background: none;
  border: none;
  outline: none;
}
