@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fira Sans Regular'),
    local('FiraSans-Regular'),
    url(../fonts/fira-sans-400.woff2) format('woff2'),
    url(../fonts/fira-sans-400.woff) format('woff');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Fira Sans Medium'),
    local('FiraSans-Medium'),
    url(../fonts/fira-sans-500.woff2) format('woff2'),
    url(../fonts/fira-sans-500.woff) format('woff');
}
