.gallery {
  padding: 10px 0 30px;


  @media (min-width: @tablet) {
    padding: 25px 0 0;
  }

  @media (min-width: @desktop) {
   // padding: 100px 0 0;
  }
}


.gallery__header {
  .h2();
  margin: 0 0 10px;


  @media (min-width: @desktop) {
    margin: 0 0 25px;
  }
}



.gallery__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(~'100% + 10px');
  margin: 0 -5px;


  @media (min-width: @tablet) {
    width: calc(~'100% + 30px');
    margin: 0 -15px;
  }
}



.gallery__item {
  width: calc(~'50% - 10px');
  margin: 0 5px 15px;
  cursor: pointer;



  @media (min-width: @tablet) {
    width: calc(~'33.333333% - 30px');
    margin: 0 15px 30px;
    height: 350px;
    position: relative;
    overflow: hidden;
    img{
      height: 100%;
      max-width: none;
      min-width: 100%;
    }
  }
}



.gallery__link {
  display: block;
  width: 100%;
  height: 100%;
  .block-stroke();
  border-radius: 5px;
  overflow: hidden;
}



.gallery__img {
  display: block;
  margin: 0 auto;
}
