.gallery-group {
  padding: 12px 0 0;
}



.gallery-group__list {
  list-style: none;


  @media (min-width: @tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    width: calc(~'100% + 30px');
    margin: 0 -15px;
  }
}



.gallery-group__item {
  margin: 0 0 20px;


  @media (min-width: @tablet) {
    width: calc(~'50% - 30px');
    margin: 0 15px 30px;
  }

  @media (min-width: @desktop) {
    width: calc(~'33.333333% - 30px');
  }
}



.gallery-group__link {
  display: block;
  width: 100%;
  height: 100%;
  .block-stroke();
  padding: 15px 20px;
}



.gallery-group__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: @date-color;
  padding: 0 0 15px;
}



.gallery-group__date {
  .time();
}



.gallery-group__count {
  font-size: 12px;
  line-height: 16px;


  @media (min-width: @desktop) {
    font-size: 14px;
    line-height: 18px;
  }
}



.gallery-group__img {
  display: block;
  margin: 0 auto;
}



.gallery-group__name {
  font-weight: 500;
  margin: 10px 0 0;


  @media (min-width: @desktop) {
    font-size: 20px;
    line-height: 29px;
  }
}



.gallery-group__more {
  &--disabled {
    display: none;
  }
}
