.header-link {
  .h2();
  color: @hover-text-color;
  margin: 0 0 10px;


  @media (min-width: @desktop) {
    margin: 0 0 30px;
  }
}



.header-link__link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding: 0 0 20px;
  transition: 0.5s color;

  &:hover,
  &:focus {
    color: @main-text-color;
    outline: none;
  }


  @media (min-width: @desktop) {
    padding: 0 0 35px;
  }
}



.header-link__icon {
  position: absolute;
  left: 0;
  bottom: 0;
  fill: #333;
  transition: 0.5s fill, 0.5s left;


  .header-link__link:hover &,
  .header-link__link:focus & {
    fill: @hover-text-color;
    left: 10px;
  }
  @media( max-width: 768px){
    width: 40px;
  }
}
