.logo {
  width: 76px;

  &--registration {
    margin: 30px auto;
  }




  @media (min-width: @tablet) {
    width: 73px;
    order: -3;
  }

  @media (min-width: @desktop) {
    margin-right: 30px;
    flex-shrink: 0;
    width: 160px;
    &--footer{
      width: 65px;
      img{
        margin-top: 0;
      }
    }
    &--registration {
      margin: 30px auto;
    }
  }

}



.logo__link {
  display: block;
  width: 100%;
  height: 100%;
}



.logo__img {
  display: block;
  margin-top: 27px;
}
