*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Fira Sans', 'Roboto', 'Open Sans', sans-serif;
  color: @main-text-color;
  font-size: 16px;
  line-height: 26px;
  background-color: #fcfcfc;

  &.fixed {
    overflow: hidden;
  }


  @media (min-width: @desktop) {
    font-size: 18px;
  }
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  font: inherit;
}

input {
  font: inherit;
}



.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}



.content {
  flex: 1 0 auto;
}



.page-footer {
  flex: 0 0 auto;
}
