.inputState() {
  transition: 0.3s color, 0.3s box-shadow;

  &:hover,
  &:focus {
    outline: none;
    border-color: #5d4af7;
    box-shadow: 0 8px 20px #c3ccde;
  }
}



.block-stroke() {
  box-shadow: 0 4px 0 #f2f5fa;
  border: 1px solid #f2f5fa;
  border-radius: 5px;
  transition: 0.5s box-shadow;

  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0 8px 20px #c3ccde;
  }
}
