.page-about {
  background-color: #ffffff;
}



.page-about__content {
  padding: 20px 0 265px;
  background-size: auto 225px;
  background-repeat: no-repeat;
  background-position: center 93%;


  @media (min-width: @tablet) {
    padding: 20px 50% 30px 0;
    background-position: right center;
    background-size: auto 65%;
  }

  @media (min-width: @desktop) {
    padding: 125px 50% 74px 0;
    min-height: 30px;
  }
}



.page-about__dates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: @additional-text-color;
  padding: 5px 0;
  font-size: 20px;
}



.page-about__header {
  .h1();
  margin: 0 0 5px;


  @media (min-width: @tablet) {
    margin: 0 0 1px;
  }

  @media (min-width: @desktop) {
    margin: 0 0 20px;
  }
}



.page-about__description {
  color: @additional-text-color;
  margin: 0 0 10px;


  @media (min-width: @desktop) {
    font-size: 20px;
    line-height: 31px;
  }
}



.page-about__link-wrapper {
  padding: 5px 0 0;
  .button{
    @media(min-width: @tablet){
      width: 140px;
    }
    width: 190px;

  }

}
