.participants {
  padding: 15px 0;
}



.participants__header {
  .h2();
  margin: 0 0 10px;
}



.participants__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(~'100% + 10px');
  margin: 0 -5px;


  @media (min-width: @tablet) {
    width: calc(~'100% + 30px');
    margin: 0 -15px;
  }
}



.participants__item {
  width: calc(~'50% - 10px');
  margin: 0 5px 10px;


  @media (min-width: @tablet) {
    width: calc(~'33.333333% - 30px');
    margin: 0 15px 30px;
  }

  @media (min-width: @desktop) {
    width: calc(~'25% - 30px');
  }
}



.participants__img-wrapper {
  width: 255px;
  height: 310px;
  position: relative;
  overflow: hidden;
  img{
    height: 100%;
    max-width: none;
    min-width: 100%;
  }
  .block-stroke();
  border-radius: 5px;
  @media (min-width: @tablet) {
    margin: 0 0 15px;
  }
}



.participants__img {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}



.participants__name {
  font-size: 26px;
  line-height: 26px;
  font-weight: 500;


  @media (min-width: @tablet) {
    margin: 0 0 5px;
  }
}



.participants__position {
  font-size: 14px;
  line-height: 16px;
  color: @additional-text-color;
}
