.partners {
  padding: 0 0 35px;


  @media (min-width: @desktop) {
    padding: 35px 0;
  }
}



.partners__header {
  .h2();
  margin: 0 0 10px;


  @media (min-width: @desktop) {
    margin: 0 0 25px;
  }
}



.partners__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: calc(~'100% + 10px');
  margin: 0 -5px;


  @media (min-width: @tablet) {
    width: calc(~'100% + 30px');
    margin: 0 -15px;
  }
}



.partners__item {
  width: calc(~'50% - 10px');
  margin: 0 5px 10px;


  @media (min-width: @tablet) {
    width: calc(~'33.333333% - 30px');
    margin: 0 15px 30px;
  }

  @media (min-width: @desktop) {
    width: calc(~'25% - 30px');
  }
}



.partners__link {
  display: block;
  position: relative;
  .block-stroke();
  &:after{
    //content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: #000;
    top: 0;
    left: 0;
    z-index: 2;
    transition: 0.5s;
  }
  img{
    position: relative;
    z-index: 1;
  }
  &:hover{
    &:after{
      opacity: 0;
    }
  }
}



.partners__img {
  display: block;
  margin: 0 auto;
  filter: grayscale(100%);
  transition: 0.5s filter;



  .partners__link:hover &,
  .partners__link:focus & {
    filter: grayscale(0%);
  }

}
