.place {
  padding: 15px;
  margin: 0 0 32px;
  @media (max-width: @tablet) {
    padding: 15px 0  15px 0;
    margin-bottom: 30px;
  }
  @media (max-width: @desktop){
    padding: 5px 0  15px 0;
  }
}



.place__header {
  .h4();
  text-transform: uppercase;
  margin: 0 0 12px;
}



.place__map-wrapper {
  height: 170px;
  .block-stroke();
  overflow: hidden;
  margin: 0 0 22px;
  @media (min-width: @tablet) {
    margin-bottom: 14px;
  }
}



.place__img {
  display: block;
  margin: 0 auto;
}



.place__address {
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 10px;


  @media (min-width: @desktop) {
    font-size: 16px;
    line-height: 26px;
  }
}



.place__name {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  margin: 0 0 10px;


  @media (min-width: @desktop) {
    font-size: 18px;
    line-height: 23px;
  }
}
