.popup {
  max-width: 1110px;
  max-height: 90%;
  background: #ffffff;
  box-shadow: 0 8px 20px #c3ccde;
  margin: 0 30px;
  padding: 30px 30px 30px;
  text-align: center;
  position: relative;
  display: none;
  @media(max-width: @tablet){
    overflow-y: auto;
    overflow-x: hidden;
  }

  &--registration-success {
    padding-top: 290px;
    width: 600px;
    height: 550px;
    @media (max-width: @tablet) {
      width: auto;
      height: auto;
    }
    &:after {
      content: '';
      width: 100%;
      height: 180px;
      background-image: url(../img/bg_popup.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      top: 100px;
      left: 0;
    }
  }
  .popup--registration-success{
    padding-top: 290px;
  }

  &--active {
    display: block;
  }



  @media (min-width: @desktop) {
    border-radius: 5px;

    &:before {
      content: none;
    }
  }
}



.popup__overlay {
  width: 100vw;
  height: 100vh;
  min-width: 100%;

  top: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.35);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;

  &--show {
    display: flex;
  }
  @media (min-width:@mobile){
    position: fixed;
  }
}



.popup__header {
  font-size: 36px;
  line-height: 50px;
  color: #333;
  margin: 30px 0 10px;
}



.popup__text {
  color: #333;
  font-size: 14px;
  line-height: 18px;


  @media (min-width: @desktop) {
    font-size: 16px;
    line-height: 26px;
  }
}



.popup__close {
  top: 10px;
  background-color: transparent;
  border: none;
  width: 34px;
  height: 34px;
  position: absolute;
  right: 0;
  cursor: pointer;
  @media(min-width: @tablet){
    top: -40px;
  }


  &:before,
  &:after {
    background-color: #000;
    @media(min-width: @tablet){
      background-color: #ffffff;
    }
    content: '';
    width: 100%;
    height: 2px;

    position: absolute;
    top: calc(~'50% - 1px');
    left: 0;
    transition: 0.3s background-color;
  }

  &:before {
    transform: rotate(-45deg);
  }

  &:after {
    transform: rotate(45deg);
  }

  &:hover,
  &:focus {
    &:before,
    &:after {
      background-color: @hover-text-color;
    }
  }

  &:active {
    &:before,
    &:after {
      background-color: @hover-link-color;
    }
  }


  @media (min-width: @desktop) {
    &:before,
    &:after {
      //background-color: rgba(51, 51, 51, 0.35);
    }
  }
}



.popup__form {
  padding: 20px 0 0;
  .popup__submit{
    width: 220px;
    font-size: 16px;
    cursor: pointer;
  }
}



.popup__row {
  text-align: left;
  padding: 0 0 15px;
}



.popup__label {
  font-size: 14px;
  line-height: 18px;
  color: @additional-text-color;
  display: inline-block;
  vertical-align: top;
}



.popup__input {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #cbcbcb;
  height: 50px;
  line-height: 48px;
  padding: 0 15px;
  .inputState();
  max-width: 450px;
}

.popup__toggles {
  height: 60px;
  list-style: non;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  width: calc(~'100% + 10px');
  margin: 0 -5px;
}

.popup__toggle {
  cursor: pointer;
  height: 60px;
  width: calc(~'33.333333% - 10px');
  margin: 0 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  outline: none;

  @media (min-width: @tablet) {
    width: calc(~'20% - 10px');
  }

  @media (min-width: @desktop) {
    width: calc(~'11.1111111111% - 10px');
  }
}

.popup__container {
  position: relative;
  margin-bottom: 10px;
}

.popup__next, .popup__prev {
  position: absolute;
  top: 50%;
  cursor: pointer;
  outline: none;
  transform: translateY(-50%);
}

.popup__prev-svg {
  transform: rotate(-180deg);
}

.popup__next {
  right: 0;
}

.tns-nav-active {
  border-color: #000;
}
