.shares__link{
  width: 80px;
  height: 40px;
  border-radius: 5px;
  transform-origin: left;
  transform: rotateY(10deg);
  transition: 0.3s transform;
  position: relative;
  svg{
    fill: #fff;
  }
  span{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    transform-origin: left;
    transform: rotateY(10deg);
    transition: 0.3s transform;
    z-index: -1;
  }
  &:hover{
    transform: rotateY(0);
    span{transform: rotateY(0);}
  }
  &--vk{
    a{
      width: 80px;
      height: 40px;
      border-radius: 5px;
      transform-origin: left;
      transform: rotateY(10deg);
      transition: 0.3s transform;
      position: relative;
    }
    span{
      background: #4C75A3;
    }
  }
  &--facebook{
    span{
      background: #3B5998;
    }
  }
}
.shares-soc{
  a{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    transform-origin: left;
    transform: rotateY(10deg);
    transition: 0.3s transform;
    position: relative;
    perspective: 200px;
    &:hover{
      transform: rotateY(0);
      span{
        transform: rotateY(0);
      }
    }
  }
  span{

  }

  &--vk{
    a{
      span{
        background: #587ca3;
        position: absolute !important;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 5px;
        transform-origin: left;
        transform: rotateY(10deg);
        transition: 0.3s transform;
        z-index: -1;
        text-align: center;
      }
      img{
        margin: 4px 0 0;
      }
    }
  }
}
