.slider__controls {
  display: flex;
  align-items: stretch;
  justify-content: space-between;


  .no-js & {
    display: none;
  }
}



.slider__control {
  background-color: #ffffff;
  border: none;
  display: block;
  width: 35px;
  height: 35px;
  position: relative;
  .block-stroke();
  cursor: pointer;
  margin: 0 10px;


  &[disabled] {
    opacity: 0.3;
    cursor: not-allowed;
  }
  &--big-button{
    perspective: 200px;
    button{
      margin: 0 auto;
      border-radius: 0;
      &.slider__control--prev{
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
      }
      &:nth-child(1){
        transform: rotateY(10deg);
        transition: 0.3s transform;
      }
      &:nth-child(2){
        transform: rotateY(-10deg);
        transition: 0.3s transform;
      }
      @media (min-width: @mobile){
        width: 48px;
        height: 42px;
      }

      @media (min-width: @tablet){
        width: 48px;
        height: 42px;

      }
      @media (min-width: @desktop) {
        width: 60px;
        height: 60px;
      }
    }
  }
}



.slider__control-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
  width: 18px;


  .slider__control--prev & {
    transform-origin: center center;
    transform: rotate(180deg);
  }
}
