.social__list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;


  .social--footer & {
    justify-content: flex-end;
  }
}



.social__item {
  margin: 0 10px;
}



.social__link {
  width: 28px;
  height: 28px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  transition: 0.3s color;

  &:hover,
  &:focus {
    color: @hover-text-color;
  }
}



.social__icon {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #aaaaaa;
  z-index: 1;
  transition: 0.3s fill;


  .social__link:hover &,
  .social__link:focus & {
    fill: @hover-text-color;
  }
}
