.teachers {
  padding: 35px 0 0;


  @media (min-width: @tablet) {
    padding: 20px 0 0;
  }
}



.teachers__list {
  list-style: none;
  padding: 10px 0 0;
  @media (min-width: @tablet) {
    padding: 0 0 0;
  }

  &--collums{
    .teachers__item{
      @media (min-width: @desktop) {
        display: inline-flex;
        width: 49.5%;
        vertical-align: top;
      }
      @media (max-width: @tablet) {
        display: block;
        width: 100%;
      }
    }
  }
}



.teachers__item {
  padding-bottom: 25px;

  @media (min-width: @tablet) {
    margin: 0 0 60px;
    display: flex;
    padding-bottom: 0;
  }

}



.teachers__img-wrapper {
  height: 240px;


  @media (min-width: @tablet) {
    height: 310px;
    width: 250px;
    flex-shrink: 0;
    img{
      height: 100%;
      max-width: none;
      min-width: 100%;
    }
    &--small-icon{
      width: 170px;
      img{
        width: 100%;
        height: auto;
      }
    }
  }

}



.teachers__img {
  display: block;
  border-radius: 4px;
  @media (min-width: @tablet){
    margin: 0 auto;
  }
}



.teachers__info {
  @media (min-width: @tablet) {
    padding: 0 0 0 25px;
  }
}



.teachers__name {
  .h4();
  margin: 20px 0 0;


  @media (min-width: @tablet) {
    margin: 0 0 10px;
  }
}



.teachers__position {
  font-size: 12px;
  line-height: 16px;
  color: @additional-text-color;
  margin: 0 0 10px;


  @media (min-width: @desktop) {
    font-size: 14px;
    line-height: 18px;
  }
}
