.text-block {
  padding: 30px 0 0;
  width: 70%;
  @media (max-width: @tablet) {
    width: 100%;
  }
  h3{
    margin-bottom: 15px;
  }
  ul,ol{
    padding-bottom: 15px;
  }
}



.text-block__header {
  .h2();
  margin: 0 0 10px;
}



.text-block__subheader {
  .h4();
  margin: 0 0 5px;
}



.text-block__text {
  color: @additional-text-color;
  margin: 0 0 26px;
}
