.h1() {
  font-size: 32px;
  line-height: 38px;
  font-weight: 500;


  @media (min-width: @desktop) {
    font-size: 56px;
    line-height: 67px;
  }
}



.h2() {
  font-size: 26px;
  line-height: 31px;
  font-weight: 500;


  @media (min-width: @desktop) {
    font-size: 50px;
    line-height: 60px;
  }
}



.h3() {
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;


  @media (min-width: @desktop) {
    font-size: 50px;
    line-height: 60px;
  }
}



.h4() {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;


  @media (min-width: @desktop) {
    font-size: 26px;
    line-height: 31px;
  }
}



.time() {
  font-size: 14px;
  line-height: 18px;
  color: @date-color;
  display: block;


  @media (min-width: @desktop) {
    font-size: 18px;
    line-height: 26px;
  }
}
