@border-color: #edeaea;

@main-text-color: #333333;
@additional-text-color: #5b5e6d;
@date-color: #7a7a7a;
@hover-text-color: #5d4af7;
@hover-link-color: #3828b8;



@mobile: 320px;
@tablet: 768px;
@desktop: 1300px;



@block-padding: 28px 0 10px;
