.page404{
  &__background{
    background: url(../img/404.svg) no-repeat center;
    width: 100%;
    height: 330px;
  }
  &__no-page{
    font-size: 26px;
    text-align: center;
    font-weight: 500;
    @media (min-width: @tablet) {
      font-size: 36px;
    }
  }
}
.page404-request{
  display: block;
  justify-content: center;
  margin: 40px 0 0;
  @media (min-width: @tablet) {
    margin: 80px 0 0;
    display: flex;
  }
  &__search{
    width: 160px;
    height: 50px;
    line-height: 50px;
    margin-left:  auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    outline: none;
    font-size: 16px;
    @media (min-width: @tablet) {
      margin-left: 30px;
      margin-top: 0;
      margin-right: 0;
    }
  }
  &__input{
    border: solid 1px #CBCBCB;
    outline: none;
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
    height: 50px;
    padding: 0 15px;
    color: #7A7A7A;
    @media (min-width: @tablet) {
      max-width: 350px;
    }
  }
}