section.announcements.slider.no-js
  .container
    .announcements__row
      h2.announcements__header Объявления
      .announcements__controls.slider__controls
        button.slider__control.slider__control--prev
          span.visually-hidden Предыдущее объявление
          svg.slider__control-icon(width="11" height="16")
            use(xlink:href="#icon-slider-arrow")
        button.slider__control
          span.visually-hidden Следующее объявление
          svg.slider__control-icon(width="11" height="16")
            use(xlink:href="#icon-slider-arrow")

    ul.announcements__list.before
      li.announcements__item
        .announcements__item-content
          .announcements__img-wrapper
            img.announcements__img(src="/img/announcement-1.png", alt="Поздравляем всех победителей")
          .announcements__info
            time.announcements__date(datetime="2018-04-12") 12 апреля 2018
            h3.announcements__name Поздравляем всех победителей
            p.announcements__description Победители турнира «Лига Победителей». Республиканская олимпиада 7-8 классов.

      li.announcements__item
        .announcements__item-content
          .announcements__img-wrapper
            img.announcements__img(src="/img/announcement-1.png", alt="Поздравляем всех победителей")
          .announcements__info
            time.announcements__date(datetime="2018-04-11") 11 апреля 2018
            h3.announcements__name Ыть?
            p.announcements__description Ыть!