.breadcrumbs
  .container
    ul.breadcrumbs__list
      li.breadcrumbs__item
        a.breadcrumbs__link(href="index.html") Главная
        svg.breadcrumbs__icon(width="9" height="7")
          use(xlink:href="#icon-arrow--short")
      li.breadcrumbs__item
        a.breadcrumbs__link Кружки