section.gallery
  .container
    h2.gallery__header Галерея
    - let n = 0;
    ul.gallery__list
      while n < 11
        li.gallery__item
          img.gallery__img(src="/img/gallery-1.jpg", alt="Картинка 1")
          -n++