.news
  .container
    h2.header-link
      a.header-link__link(href="news.html")
        |Новости
        svg.header-link__icon(width="65" height="14")
          use(xlink:href="#icon-arrow--long")


    ul.news__list
      li.news__item.news-card
        a.news-card__link(href="one-news.html")
          .news-card__img-wrapper
            img.news-card__img(src="./img/news-1.jpg", alt="")
          time.news-card__date(datetime="2018-04-12") 12 апреля 2018
          p.news-card__name Сборная 8-9 классов
      li.news__item.news-card
        a.news-card__link(href="one-news.html")
          .news-card__img-wrapper
            img.news-card__img(src="./img/news-1.jpg", alt="")
          time.news-card__date(datetime="2018-04-12") 12 апреля 2018
          p.news-card__name Сборная 8-9 классов
      li.news__item.news-card
        a.news-card__link(href="one-news.html")
          .news-card__img-wrapper
            img.news-card__img(src="./img/news-1.jpg", alt="")
          time.news-card__date(datetime="2018-04-12") 12 апреля 2018
          p.news-card__name Сборная 8-9 классов
      li.news__item.news-card
        a.news-card__link(href="one-news.html")
          .news-card__img-wrapper
            img.news-card__img(src="./img/news-1.jpg", alt="")
          time.news-card__date(datetime="2018-04-12") 12 апреля 2018
          p.news-card__name Сборная 8-9 классов
      li.news__item.news-card
        a.news-card__link(href="one-news.html")
          .news-card__img-wrapper
            img.news-card__img(src="./img/news-1.jpg", alt="")
          time.news-card__date(datetime="2018-04-12") 12 апреля 2018
          p.news-card__name Сборная 8-9 классов

    div.vk-block
      #vk_groups.subscribe-vk
