.shares-soc
    .shares-soc--vk
        script( type="text/javascript" src="https://vk.com/js/api/share.js?95" charset="windows-1251")
        script(type="text/javascript")  document.write(VK.Share.button(false,{type: "custom", text: "<img src=\"https://vk.com/images/share_32.png\" width=\"32\" height=\"32\" />"}));
    .shares-soc--facebook
        .fb-share-button( data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-size="small" data-mobile-iframe="false")
            a.fb-xfbml-parse-ignore( target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse") Поделиться
        script (function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;  js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v3.0';  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));

