.text-block
  p.text-block__header Как проходит обучение?
  p.text-block__text Традиционно школьные занятия построены на том, что учитель рассказывает определённую тему, а дальше идут простые задания на закрепление, потом — чуть посложнее и в итоге контрольная работа.
  p.text-block__subheader Мы делаем иначе
  p.text-block__text Наши занятия построены на том, что дети через задачи попытаются сделать самостоятельное открытие. Изначально выдаются задачи или проблемы, над которыми надо думать. По математике, например,  задачи могут затрагивать несколько несвязанных тем и идей, чтобы ребенок не зацикливался на стандартных способах и алгоритмах. Не подразумевается, что ребенок сможет решать все заданий, хотя к этому стоит стремиться.
  p.text-block__text Основное в занятиях – это общение с преподавателем. Поэтому группы мы стараемся сделать поменьше, 10-15 человек. Но одни занятия – это скучно. Мы создаем систему образования.
  p.text-block__subheader Этапы
  p.text-block__text Первый этап — заинтересовать. Это «входные» олимпиады, игры, турниры. Для младших школьников мы пытаемся провести много разнообразных мероприятий, не только по математике. Игры, лекции, фильмы.
  p.text-block__text Второй этап — научить. Это, собственно, занятия.
  p.text-block__text Третий этап — получить результат. Это итоговые турниры, как внутренние, так и межрегиональные. Формирование команд для выездных турниров. Организация турниров для младших групп.
  p.text-block__text Соревнования, командные и личные, которые проходят раз в несколько месяцев - это турниры, математические бои. Соревнования - приятный бонус, промежуточный итог обучения, игра. Серьезные выездные олимпиады начинаются с 10 класса, на них едут самые сильные ученики-«профи». Для них планируются сборы.
