.copyright {
  width: 100%;
  margin: 20px 0;
  text-align: center;


  @media (min-width: @tablet) {
    width: auto;
    text-align: left;
    order: -2;
  }

  @media (min-width: @desktop) {
    margin-right: 30px;
  }
}



.copyright__text {
  font-size: 12px;
  line-height: 16px;
  color: #aaaaaa;
  display: inline;


  @media (min-width: @tablet) {
    display: block;
  }

  @media (min-width: @desktop) {
    font-size: 14px;
    line-height: 20px;
  }
}
