.creator {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  color: #aaaaaa;
  width: 100%;


  @media (min-width: @tablet) {
    width: auto;
  }

  @media (min-width: @desktop) {
    flex-grow: 1;
    text-align: right;
    padding-left: 30px;
    font-size: 14px;
    line-height: 20px;
  }
}



.creator__link {
  transition: 0.3s color;

  &:hover,
  &:focus {
    color: @hover-text-color;
  }
}
