.footer-subscribe {
  padding: @block-padding;
  margin: 0 0 100px;
  h2,form{
    display: none;
  }


  @media (min-width: @tablet) {
    margin: 0 0 170px;
  }

  @media (min-width: @desktop) {
    margin: 0 0 270px;
  }
}



.footer-subscribe__header {
  .h3();
  text-align: center;
  margin: 0 0 12px;

  @media (min-width: @desktop) {
    font-size: 36px;
    line-height: 60px;
  }


  @media (min-width: @tablet) {
    margin: 0 0 16px;
  }
}



.footer-subscribe__form {
  text-align: center;


  @media (min-width: @tablet) {
    width: 470px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop) {
    width: 540px;
  }
  @media (max-width: @tablet){
    padding: 0 15px;
  }
}



.footer-subscribe__input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  padding: 0 18px;
  color: #7a7a7a;
  font-size: 16px;
  line-height: 38px;

  &:-ms-input-placeholder {
    color: #7a7a7a;
  }
  .inputState();
  @media (min-width: @tablet) {
    width: 320px;
  }
  @media (min-width: @desktop) {
    height: 50px;
    line-height: 48px;
    width: 350px;
  }


}



.footer-subscribe__submit {
  border: none;
  cursor: pointer;
  margin: 10px 0 0;
  width: 100%;


  @media (min-width: @tablet) {
    margin: 0;
  }
}
