.page-footer {
  background: url(../img/vector.svg) no-repeat center 63%;
  background-size: contain;
  > .container{
    background-image: url(../img/bg_footer.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 488px;
    padding: 70px 0 10px;
  }
  @media (min-width: @mobile) {
    background-position: center 42%;
  }
  @media (min-width: @tablet) {
    background-position: center 57%;
    > .container{
      margin-top: 45px;
      padding: 95px 0 20px;
      background-image: url(../img/bg_footer--tablet.svg);
      background-size: auto 550px;
      background-position: right 0;
    }
  }

  @media (min-width: @desktop) {

    > .container{
      margin-top: 115px;
      padding: 135px 0 20px;
      background-image: url(../img/bg_footer--desktop.svg);
      background-size: auto 730px;
      background-position: 85% top;
      overflow: hidden;
    }
  }
}



.page-footer__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @media (min-width: @mobile){
    padding: 0 15px;
  }
}
