doctype html
html(lang="ru")
  head
    link(rel="preload" href="css/styles.css" as="style" crossorigin)
    link(rel="preload" href="fonts/fira-sans-400.woff2" as="font" crossorigin)
    link(rel="preload" href="fonts/fira-sans-500.woff2" as="font" crossorigin)

    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title 7 пядей
    script
      include head-script.js


    link(rel="stylesheet" href="css/styles.css")
    link(rel="stylesheet" href="http://alenn.picom.su/bitrix/cache/css/s1/alenn/kernel_main/kernel_main.css?153562098626563")



  body
    .wrapper
      .content
        include page-header.pug
        block content
      include page-footer.pug
    script(src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous")


    script(src="http://alenn.picom.su/bitrix/cache/js/s1/alenn/kernel_main/kernel_main.js?1535621055298829")
    script(src="js/main.js")





