header.page-header
  .container.page-header__container
    .page-header__row
      .logo
        a.logo__link(href="index.html")
          img.logo__img(src="./img/logo.svg"  alt="Логотип 7 пядей" width="160" height="50")

    .control-panel
      .page-header__contacts
        form.page-header__search
          input(type='text' placeholder='Введите запрос').search-input
          button.search-button

        p.page-header__phone
          a.page-header__phone-link(href="tel:+78225124242") +7 (822) 512-4242
        .social-block
          a(href='#').social-link.social-link--vk
            svg.social__icon(width="20" height="12")
              use(xlink:href="#icon-vk")
          a(href='#').social-link.social-link--facebook
            svg.social__icon(width="8" height="16")
              use(xlink:href="#icon-fb")
        .hamburger
          span.visually-hidden Закрыть меню
          span.hamburger__decoration
      .page-header__menu.no-js
        nav.main-navigation
          ul.main-navigation__list
            li.main-navigation__item
              a.main-navigation__link(href="directions.html") Наши направления
            li.main-navigation__item
              a.main-navigation__link(href="teachers.html") Преподователи
            li.main-navigation__item
              a.main-navigation__link(href="events.html") Мероприятия
            li.main-navigation__item
              a.main-navigation__link(href="news.html") Новости
            li.main-navigation__item
              a.main-navigation__link(href="about.html") О нас
            li.main-navigation__item
              a.main-navigation__link(href="contacts.html") Контакты

          .user-block
            p.mobile-phone
              a.page-header__phone-link(href="tel:+78225124242") +7 (822) 512-4242
            a.user-block__link.button.button--border.button--open-lk(href="#")
              | Войти
              span.button__decoration



