footer.page-footer
  .container
    section.footer-subscribe
      h2.footer-subscribe__header Записаться на курсы
      form.footer-subscribe__form
        input.footer-subscribe__input(type="email" placeholder="Введите ваш e-mail")
        button.footer-subscribe__submit.button.button--big160
          | Записаться
          span.button__decoration



    .main-navigation.main-navigation--footer
      ul.main-navigation__list
        li.main-navigation__item
          a.main-navigation__link(href="directions.html") Наши направления
        li.main-navigation__item
          a.main-navigation__link(href="teachers.html") Преподователи
        li.main-navigation__item
          a.main-navigation__link(href="events.html") Мероприятия
        li.main-navigation__item
          a.main-navigation__link(href="news.html") Новости
        li.main-navigation__item
          a.main-navigation__link(href="about.html") О нас
        li.main-navigation__item
          a.main-navigation__link(href="contacts.html") Контакты



    .page-footer__row
      .logo.logo--footer
        a.logo__link(href="index.html")
          img.logo__img(src="./img/logo.svg", alt="Логотип 7 пядей")


      .social.social--footer
        ul.social__list
          li.social__item
            a.social__link(href="#")
              span.social__name.visually-hidden Вконтакте
              svg.social__icon(width="20" height="12")
                use(xlink:href="#icon-vk")
          li.social__item
            a.social__link(href="#")
              span.social__name.visually-hidden Facebook
              svg.social__icon(width="8" height="16")
                use(xlink:href="#icon-fb")



      .copyright
        p.copyright__text © 7 пядей.
        p.copyright__text Олимпиадная математика в Ижевске
      .creator
        |Сделано в 
        a.creator__link(href="http://picom.ru" target="_blank") Picom

