.index-about {
  padding: @block-padding;


  @media (min-width: @tablet) {
    padding: 15px 0 0;
  }

  @media (min-width: @desktop) {
    background-image: url(../img/bg_index-about.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 550px auto;
  }
}

.index-about__content {
  @media (min-width: @tablet) {
    padding: 0 0 0 51.5%;
    background-image: url(../img/bg_index-about.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 374px auto;
  }

  @media (min-width: @desktop) {
    background: none;
    padding: 205px 0 0 475px;
  }
}



.index-about__text-block {
  padding: 0 0 400px;
  position: relative;
  background-image: url(../img/bg_index-about.svg);
  background-size: auto 500px;
  background-repeat: no-repeat;
  background-position: center bottom;


  @media (min-width: @tablet) {
    padding: 0 0 0 0;
    background: none;
  }
}



.index-about__text {
  margin: 0 0 26px;


  @media (min-width: @desktop) {
    margin: 0 0 30px;
  }
}
