.index-slider {
	overflow: hidden;
	position: relative;
	background-color: #ffffff;
	padding: @block-padding;

	@media (min-width: @tablet) {
		padding: 35px 0 10px;
	}

	@media (min-width: @desktop) {
		padding: 25px 0 40px;
	}
}

.index-slider__container {
	@media (min-width: @tablet) {
		position: relative;
		height: 270px;
		overflow: hidden;
	}
	@media (min-width: @desktop) {
		padding: 0 0 0 85px;
		height: 470px;
		position: relative;
		overflow: hidden;
	}
}

.index-slider__list {
	list-style: none;
}

.index-slider__item {
	height: 500px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center bottom;

	@media (min-width: @tablet) {
		height: 270px;
		background-size: 50% auto;
		background-position: right top;
	}

	@media (min-width: @desktop) {
		height: 480px;
	}
}

.index-slider__header {
	.h1();
	margin: 0 0 18px;
	width: 40%;

	@media (min-width: @desktop) {
		margin: 33px 0 19px;
	}

	@media (max-width: @tablet) {
		width: 100%;
	}
}

.index-slider__content {
	@media (min-width: @mobile) {
		flex-direction: column;
	}

	@media (min-width: @tablet) {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	}
}

.index-slider__bg {
	width: 100%;
	height: 100%;
}

.index-slider__img {
	width: 100%;
	height: 100%;
}

.index-slider__description {
	color: @additional-text-color;
	margin: 0 0 20px;
	width: 40%;

	@media (min-width: @tablet) {
		line-height: 28px;
		letter-spacing: 0.065em;
	}

	@media (max-width: @tablet) {
		width: 100%;
	}
}

.index-slider__link-wrapper {
	display: flex;

	@media (min-width: @tablet) {
		padding-right: 50%;
		justify-content: flex-start;
	}

	@media (min-width: @desktop) {
		padding: 25px 0 0;
	}
	a {
		font-size: 16px;
	}
}

.index-slider__info {
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: space-between;
	align-items: center;

	.index-slider.no-js & {
		display: none;
	}

	@media (min-width: @tablet) {
		right: 20px;
		bottom: 13px;
		left: auto;
		transform: none;
	}
	@media (max-width: @tablet) {
		padding-bottom: 5px;
	}

	@media (min-width: @desktop) {
		right: 90px;
		bottom: 20px;
	}
}

.index-slider__pages {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	background-color: #ffffff;
	width: 130px;
	.block-stroke();
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	@media (min-width: @mobile) {
		width: 90px;
		padding: 7px 5px;
	}
	@media (min-width: @tablet) {
		padding: 7px 25px 7px 15px;
		width: 96px;
	}
	@media (min-width: @desktop) {
		padding: 16px 25px 16px 15px;
		width: 125px;
	}
}

.index-slider__pages-block {
	align-self: flex-end;
	color: @additional-text-color;

	&--current {
		padding: 0 0 0 15px;
		position: relative;
		width: 30px;
		color: @main-text-color;
	}
	@media (max-width: @desktop) {
		font-size: 14px;
	}
}

.index-slider__page-icon {
	position: absolute;
	top: 0;
	left: 0;
}
