extends ./layout/index.pug

block content
    include ./common/breadcrumbs.pug
    .container
        .page404
            .page404__background
            h3.page404__no-page Страница не найдена
            form.page404-request
                input(type='text' placeholder='Введите ваш запрос').page404-request__input
                button.button.page404-request__search
                    span.button__decoration Найти