extends ./layout/index.pug

block content
  include ./common/breadcrumbs.pug
  include ./common/gallery.pug
  
  .popup__overlay
    .popup.popup--gallery
      .popup__container
        .popup__list-img.popup__list-top
        .popup__nav
          .popup__prev
            svg.popup__prev-svg(width="11" height="16")
              use(xlink:href="#icon-slider-arrow")
          .popup__next
            svg.popup__next-svg(width="11" height="16")
              use(xlink:href="#icon-slider-arrow")
      
      ul.popup__toggles
      button.popup__close
        span.visually-hidden Закрыть окно
