extends ./layout/index.pug

block content
  include ./common/breadcrumbs.pug



  .page-about
    .container
      .page-about__content(style="background-image:url(./img/bg_direction.svg)")
        h1.page-about__header О нас
        p.page-about__description Обыкновенных не бывает, так как желание — это другая грань таланта.


  .tab-block
    .container
      .tab-block__row
        ul.tab-block__list
          li.tab-block__item
            span.tab-block__name.tab-block__name--active Центр «7 пядей»
          li.tab-block__item
            span.tab-block__name Наши достижения
          li.tab-block__item
            span.tab-block__name Фотогаллерея
          li.tab-block__item
            span.tab-block__name Документы
          li.tab-block__item
            span.tab-block__name Архив

      .sections
        ul.sections__list
          li.sections__item.sections__item--active
            .text-block
              p.text-block__header Чему мы не учим?
              p.text-block__text Мы не готовим к ЕГЭ (хотя они сдают его прекрасно); Мы не репетиторствуем; Мы не подтянем с двойки на тройку; Мы не гарантируем победы на олимпиадах (хотя часто это побочный эффект занятий, но цель занятий - другая).
              p.text-block__subheader А чему мы учим?
              p.text-block__text Думать и радоваться открытиям видеть в предмете не только оценки и победы, а реальную науку учиться и просто жить в уникальной «умной» среде.
              p.text-block__text Центр «Семь пядей» возник на основе кружков олимпиадной математики в ижевских лицеях №29 и №41, которые Ольга Нечаева вела c 1992 года. В «Семи пядях» продолжится подготовка математических команд и появятся кружки по другим предметам.
              p.text-block__subheader Мы делаем иначе
              p.text-block__text Наши занятия построены на том, что дети через задачи попытаются сделать самостоятельное открытие. Изначально выдаются задачи или проблемы, над которыми надо думать. По математике, например,  задачи могут затрагивать несколько несвязанных тем и идей, чтобы ребенок не зацикливался на стандартных способах и алгоритмах. Не подразумевается, что ребенок сможет решать все заданий, хотя к этому стоит стремиться.
              p.text-block__text Основное в занятиях – это общение с преподавателем. Поэтому группы мы стараемся сделать поменьше, 10-15 человек. Но одни занятия – это скучно. Мы создаем систему образования.
              p.text-block__subheader Этапы
              p.text-block__text Первый этап — заинтересовать. Это «входные» олимпиады, игры, турниры. Для младших школьников мы пытаемся провести много разнообразных мероприятий, не только по математике. Игры, лекции, фильмы.
              p.text-block__text Второй этап — научить. Это, собственно, занятия.
              p.text-block__text Третий этап — получить результат. Это итоговые турниры, как внутренние, так и межрегиональные. Формирование команд для выездных турниров. Организация турниров для младших групп.
              p.text-block__text Соревнования, командные и личные, которые проходят раз в несколько месяцев - это турниры, математические бои. Соревнования - приятный бонус, промежуточный итог обучения, игра. Серьезные выездные олимпиады начинаются с 10 класса, на них едут самые сильные ученики-«профи». Для них планируются сборы.

          li.sections__item
            h2.sections__header Наши достижения

            .achievements
              ul.achievements__list
                li.achievements__item
                  a.achievements__link(href="#")
                    .achievements__img-wrapper
                      img.achievements__img(src="/img/achievement-1.svg", alt="Сборная 8-9 классов")
                    time.achievements__date(datetime="2018-04-12") 12 апреля 2018
                    p.achievements__name Сборная 8-9 классов
                    p.achievements__description Победители турнира «Лига Победителей».<br>Республиканская олимпиада 7-8 классов.
                li.achievements__item
                  a.achievements__link(href="#")
                    .achievements__img-wrapper
                      img.achievements__img(src="/img/achievement-1.svg", alt="Сборная 8-9 классов")
                    time.achievements__date(datetime="2018-04-11") 11 апреля 2018
                    p.achievements__name Сборная Росии по футболу
                    p.achievements__description Не имеет к нам отношения
                li.achievements__item
                  a.achievements__link(href="#")
                    .achievements__img-wrapper
                      img.achievements__img(src="/img/achievement-1.svg", alt="Сборная 8-9 классов")
                    time.achievements__date(datetime="2018-04-10") 10 апреля 2018
                    p.achievements__name Лучшие
                    p.achievements__description Это мы
                li.achievements__item
                  a.achievements__link(href="#")
                    .achievements__img-wrapper
                      img.achievements__img(src="/img/achievement-1.svg", alt="Сборная 8-9 классов")
                    time.achievements__date(datetime="2018-04-10") 10 апреля 2018
                    p.achievements__name Лучшие
                    p.achievements__description Это мы
                li.achievements__item
                  a.achievements__link(href="#")
                    .achievements__img-wrapper
                      img.achievements__img(src="/img/achievement-1.svg", alt="Сборная 8-9 классов")
                    time.achievements__date(datetime="2018-04-10") 10 апреля 2018
                    p.achievements__name Лучшие
                    p.achievements__description Это мы

              .button__wrapper.button__wrapper--center
                a.achievements__more.button.button--border(href="#")
                  |Показать больше
                  span.button__decoration

          li.sections__item
            .gallery-group
              ul.gallery-group__list
                li.gallery-group__item
                  a.gallery-group__link(href="./about-view.html" data-popup="gallery")
                    .gallery-group__info
                      time.gallery-group__date(datetime="2018-04-12") 12 апреля 2018
                      p.gallery-group__count 123 фото
                    .gallery-group__img-wrapper
                      img.gallery-group__img(src="./img/gallery-group.jpg", alt="Третий международный фестиваль")
                    p.gallery-group__name Третий международный фестиваль
                li.gallery-group__item
                  a.gallery-group__link(href="./about-view.html" data-popup="gallery")
                    .gallery-group__info
                      time.gallery-group__date(datetime="2018-04-12") 12 апреля 2018
                      p.gallery-group__count 123 фото
                    .gallery-group__img-wrapper
                      img.gallery-group__img(src="./img/gallery-group.jpg", alt="Третий международный фестиваль")
                    p.gallery-group__name Третий международный фестиваль
                li.gallery-group__item
                  a.gallery-group__link(href="./about-view.html" data-popup="gallery")
                    .gallery-group__info
                      time.gallery-group__date(datetime="2018-04-12") 12 апреля 2018
                      p.gallery-group__count 123 фото
                    .gallery-group__img-wrapper
                      img.gallery-group__img(src="./about-view.html", alt="Третий международный фестиваль")
                    p.gallery-group__name Третий международный фестиваль

              .button__wrapper.button__wrapper--center
                a.gallery-group__more.button.button--border.js-more-container(href="#")
                  |Показать больше
                  span.button__decoration

          li.sections__item
            h2.sections__header Документы
            .documents.slider.no-js
              .documents__block
                .documents__row
                  h3.documents__block-name Сертификаты
                  .slider__controls
                    button.slider__control.slider__control--prev
                      span.visually-hidden Предыдущий слайд
                      svg.slider__control-icon(width="11" height="16")
                        use(xlink:href="#icon-slider-arrow")
                    button.slider__control
                      span.visually-hidden Следующий слайд
                      svg.slider__control-icon(width="11" height="16")
                        use(xlink:href="#icon-slider-arrow")

                ul.documents__list
                  li.documents__item
                    a.documents__link(href="/img/certificate.jpg" target="_blank" data-popup="img")
                      .documents__img-wrapper
                        img.documents__img(src="/img/certificate.jpg", alt="")
                      .documents__name Округли и сложи.pdf
                      .documents__info
                        .documents__date 14.01.2018;
                        .documents__size 54 Мб.
                  li.documents__item
                    a.documents__link(href="/img/certificate.jpg" target="_blank" data-popup="img")
                      .documents__img-wrapper
                        img.documents__img(src="/img/certificate.jpg", alt="")
                      .documents__name Округли и сложи.pdf
                      .documents__info
                        .documents__date 14.01.2018;
                        .documents__size 54 Мб.



              .documents__block
                .documents__row
                  h3.documents__block-name Награды
                  .slider__controls
                    button.slider__control.slider__control--prev
                      span.visually-hidden Предыдущий слайд
                      svg.slider__control-icon(width="11" height="16")
                        use(xlink:href="#icon-slider-arrow")
                    button.slider__control
                      span.visually-hidden Следующий слайд
                      svg.slider__control-icon(width="11" height="16")
                        use(xlink:href="#icon-slider-arrow")

                ul.documents__list
                  li.documents__item
                    a.documents__link(href="/img/certificate.jpg" target="_blank" data-popup="img")
                      .documents__img-wrapper
                        img.documents__img(src="/img/certificate.jpg", alt="")
                      .documents__name Округли и сложи.pdf
                      .documents__info
                        .documents__date 14.01.2018;
                        .documents__size 54 Мб.
                  li.documents__item
                    a.documents__link(href="/img/certificate.jpg" target="_blank" data-popup="img")
                      .documents__img-wrapper
                        img.documents__img(src="/img/certificate.jpg", alt="")
                      .documents__name Округли и сложи.pdf
                      .documents__info
                        .documents__date 14.01.2018;
                        .documents__size 54 Мб.
                  li.documents__item
                    a.documents__link(href="/img/certificate.jpg" target="_blank" data-popup="img")
                      .documents__img-wrapper
                        img.documents__img(src="/img/certificate.jpg", alt="")
                      .documents__name Округли и сложи.pdf
                      .documents__info
                        .documents__date 14.01.2018;
                        .documents__size 54 Мб.
                  li.documents__item
                    a.documents__link(href="/img/certificate.jpg" target="_blank" data-popup="img")
                      .documents__img-wrapper
                        img.documents__img(src="/img/certificate.jpg", alt="")
                      .documents__name Округли и сложи.pdf
                      .documents__info
                        .documents__date 14.01.2018;
                        .documents__size 54 Мб.
                  li.documents__item
                    a.documents__link(href="/img/certificate.jpg" target="_blank" data-popup="img")
                      .documents__img-wrapper
                        img.documents__img(src="/img/certificate.jpg", alt="")
                      .documents__name Округли и сложи.pdf
                      .documents__info
                        .documents__date 14.01.2018;
                        .documents__size 54 Мб.

          li.sections__item
            h2.sections__header Архив

            .accordion
              ul.accordion__list
                li.accordion__item
                  h2.accordion__title ИжКТМ
                  .accordion__content.info
                    ul.info__list
                      li.info__item
                        h3.info__head-title Отборочные олимпиады
                        .info__element
                          h4.info__title 2009 год
                          a.info__link(href="#") Командная олимпиада.dock
                        .info__element
                          h4.info__title 2009 год
                          a.info__link(href="#") Командная олимпиада.dock
                        .info__element
                          h4.info__title 2009 год
                          a.info__link(href="#") Командная олимпиада.dock
                        .info__element
                          h4.info__title 2009 год
                          a.info__link(href="#") Командная олимпиада.dock
                      li.info__item
                        h3.info__head-title Отборочные олимпиады
                        .info__element
                          h4.info__title 2009 год
                          a.info__link(href="#") Командная олимпиада.dock
                        .info__element
                          h4.info__title 2009 год
                          a.info__link(href="#") Командная олимпиада.dock
                        .info__element
                          h4.info__title 2009 год
                          a.info__link(href="#") Командная олимпиада.dock
                        .info__element
                          h4.info__title 2009 год
                          a.info__link(href="#") Командная олимпиада.dock
                li.accordion__item
                  h2.accordion__title ИжКТМ
                  .accordion__content.info
                    ul.info__list
                      li.info__item
                        h3.info__head-title Отборочные олимпиады
                        .info__element
                          h4.info__title 2009 год
                          a.info__link(href="#") Командная олимпиада.dock
                        .info__element
                          h4.info__title 2009 год
                          a.info__link(href="#") Командная олимпиада.dock
                        .info__element
                          h4.info__title 2009 год
                          a.info__link(href="#") Командная олимпиада.dock
                        .info__element
                          h4.info__title 2009 год
                          a.info__link(href="#") Командная олимпиада.dock
                          
      .teachers
        h2.header-link
          a.header-link__link(href="teachers.html")
            |Преподаватели
            svg.header-link__icon(width="65" height="14")
              use(xlink:href="#icon-arrow--long")
        ul.teachers__list.teachers__list--collums
          li.teachers__item
            .teachers__img-wrapper.teachers__img-wrapper--small-icon
              img.teachers__img(src="./img/teacher-1.jpg", alt="Иван Иванович")
            .teachers__info
              p.teachers__name Иван Иванович
              p.teachers__position Преподователь информатики и математики
              p.teachers__about Заслуженный учитель Удмуртии, член Всероссийской методической комиссии по математике, тренер сборной Удмуртии по математике, президент Ижевского клуба интеллектуальных игр.

          li.teachers__item
            .teachers__img-wrapper.teachers__img-wrapper--small-icon
              img.teachers__img(src="./img/teacher-1.jpg", alt="Иван Иванович")
            .teachers__info
              p.teachers__name Иван Иванович
              p.teachers__position Преподователь информатики и математики
              p.teachers__about Заслуженный учитель Удмуртии, член Всероссийской методической комиссии по математике, тренер сборной Удмуртии по математике, президент Ижевского клуба интеллектуальных игр.

          li.teachers__item
            .teachers__img-wrapper.teachers__img-wrapper--small-icon
              img.teachers__img(src="./img/teacher-1.jpg", alt="Иван Иванович")
            .teachers__info
              p.teachers__name Иван Иванович
              p.teachers__position Преподователь информатики и математики
              p.teachers__about Заслуженный учитель Удмуртии, член Всероссийской методической комиссии по математике, тренер сборной Удмуртии по математике, президент Ижевского клуба интеллектуальных игр.
      
    include ./common/news.pug
