extends ./layout/index.pug

block content
  include ./common/breadcrumbs.pug



  .container
    .contacts
      .contacts__row
        .contacts__content
          h1.contacts__header Контакты
          p.contacts__phone
            |С нами вы всегда можно связаться по телефону 
            a.contacts__phone-link(href="tel:+78225124242") +7 (822) 512-4242

          .social
            ul.social__list
              li.social__item
                a.social__link(href="#")
                  span.social__name.visually-hidden Вконтакте
                  svg.social__icon(width="20" height="12")
                    use(xlink:href="#icon-vk")
              li.social__item
                a.social__link(href="#")
                  span.social__name.visually-hidden Facebook
                  svg.social__icon(width="8" height="16")
                    use(xlink:href="#icon-fb")



        .contacts__map-wrapper.map-google(data-key="AIzaSyCkNJS8yQqLUsRLrMQ3hDv0T1jGJ9CjTFc" data-center="56.8618601,53.2324284" data-zoom="14")
          img.contacts__map-img(src="img/map.jpg", alt="Адрес")
