extends ./layout/index.pug

block content
  .page-about
    .container
      .page-about__content(style="background-image:url(./img/bg_direction.svg)")
        h1.page-about__header Наши направления

  section.directions
    .container
      ul.directions__list.directions--wrapp
        li.directions__item.directions--item
          a.directions-item.directions-item--alignCenter.directions-item--section(href="direction.html")
            span
              h3.directions-item__header Кружки
              ul.directions-item__list
                li.directions-item__item Математика
                li.directions-item__item Информатика
                li.directions-item__item Обществознание
                li.directions-item__item Лингвистика
                li.directions-item__item И другие направления
              span.button.button--subscribe
                span.button__decoration Записаться
              .directions-item__img-wrapper
              svg.directions-item__icon(width="26" height="14")
                use(xlink:href="#icon-arrow")

        li.directions__item.directions--item
          a.directions-item.directions-item--alignCenter.directions-item--tournament(href="direction.html")
            span
              h3.directions-item__header Турниры и олимпиады
              ul.directions-item__list
                li.directions-item__item Ижевский командный турнир
                li.directions-item__item Брейн-брикс
                li.directions-item__item Крестики-нолики
                li.directions-item__item Анисимовская олимпиада
              span.button.button--subscribe
                span.button__decoration Записаться
              .directions-item__img-wrapper
              svg.directions-item__icon(width="26" height="14")
                use(xlink:href="#icon-arrow")

        li.directions__item.directions--item
          a.directions-item.directions-item--alignCenter.directions-item--camp(href="direction.html")
            span
              h3.directions-item__header Обучающие лагеря и школы
              ul.directions-item__list
                li.directions-item__item Сириус
                li.directions-item__item Головастик
                li.directions-item__item Республиканские сборы
              span.button.button--subscribe
                span.button__decoration Записаться
              .directions-item__img-wrapper
              svg.directions-item__icon(width="26" height="14")
                use(xlink:href="#icon-arrow")

        li.directions__item.directions--item
          a.directions-item.directions-item--alignCenter.directions-item--remote-contest(href="direction.html")
            span
              h3.directions-item__header Дистанционные конкурсы
              ul.directions-item__list
                li.directions-item__item Русский медвежонок
                li.directions-item__item Гелиантус
              span.button.button--subscribe
                span.button__decoration Записаться
              .directions-item__img-wrapper
              svg.directions-item__icon(width="26" height="14")
                use(xlink:href="#icon-arrow")