extends ./layout/index.pug

block content
  include ./common/breadcrumbs.pug



  .page-about
    .container
      .page-about__content(style="background-image:url(./img/bg_direction.svg)")
        h1.page-about__header.description--head Кружки
        p.page-about__description В олимпиадном кружке дети получают задачи, которым они должны с нуля придумать решение. Каждый подробно рассказывает о своём способе решения, о возникших идеях, о логике. Поэтому группы занимаються небольшие, около 10 человек.
        .page-about__link-wrapper.button__wrapper
          a.button.button--big(href="#" data-popup="registration")
            |Записаться
            span.button__decoration

  .filter
    form.filter__form(action="json/direction.json")
      .filter__container.container
        .filter__form-row
          label.filter__label(for="filter1") Класс:
          select#filter1.filter__select(name="class")
            option.filter__option(value="0") Все
            option.filter__option(value="7") 7
            option.filter__option(value="8") 8
        .filter__form-row
          label.filter__label(for="filter2") Предмет:
          select#filter2.filter__select(name="subject")
            option.filter__option(value="0") Все
            option.filter__option(value="7") Математика
            option.filter__option(value="8") Обществознание
        .filter__form-row
          label.filter__label(for="filter3") Уровень:
          select#filter3.filter__select(name="level")
            option.filter__option(value="0") Все
            option.filter__option(value="1") Легкий
            option.filter__option(value="2") Средний
            option.filter__option(value="3") Тяжелый

    .container
      .result(data-type="direction")
        p.result__header 234 результата
        ul.result__list
          li(data-location='subject.html').result__item
            .result-subject
              .result-subject__info
                p.result-subject__parameter.result-subject__parameter--name Математика asd ada xcv
                p.result-subject__parameter.result-subject__parameter--level.result-subject__parameter--level3 Тяжелый
                .result-subject__toggle
                  span.visually-hidden Открыть подробную информацию
                  svg.result-subject__toggle-icon.result-subject__toggle-icon--link(width="24" height="16")
                    use(xlink:href="#icon-dropdown")
          li(data-location='subject.html').result__item
            .result-subject
              .result-subject__info
                p.result-subject__parameter.result-subject__parameter--name Математика asd ads adad adad
                p.result-subject__parameter.result-subject__parameter--level.result-subject__parameter--level1 Легкий
                .result-subject__toggle
                  span.visually-hidden Открыть подробную информацию
                  svg.result-subject__toggle-icon(width="24" height="16")
                    use(xlink:href="#icon-dropdown")
          li(data-location='subject.html').result__item
            .result-subject
              .result-subject__info
                p.result-subject__parameter.result-subject__parameter--name Математика asda dad ad adada ad
                p.result-subject__parameter.result-subject__parameter--level.result-subject__parameter--level2 Средний
                .result-subject__toggle
                  span.visually-hidden Открыть подробную информацию
                  svg.result-subject__toggle-icon(width="24" height="16")
                    use(xlink:href="#icon-dropdown")

        .result__more-wrapper.button__wrapper
          a.result__more.button.button--white(href="#")
            |Показать больше
            span.button__decoration



  .container
    .flex-desktop
      include ./common/text-block.pug
      .sidebar
        img(src='./img/subscription_delete.png')




  .popup__overlay
    .popup.popup--registration
      p.popup__header Записаться на занятия
      p.popup__text Заполните данные и мы свяжемся с вами
      form.popup__form(action="json/success.json")
        .popup__row
          label.popup__label(for="name") Ф.И.О.
          input#name.popup__input(type="text" name="name" required)
        .popup__row
          label.popup__label(for="email") Электронная почта
          input#email.popup__input(type="email" name="email" required)
        .popup__row
          label.popup__label(for="phone") Телефон
          input#phone.popup__input.popup__input--phone(type="text" name="phone" required)
        .popup__row
          button.popup__submit.button
            |Записаться
            span.button__decoration
        .agreement
          input.agreement__input(type="checkbox" id="agreement")
          label.agreement__label(for="agreement")
            |Я согласен с условиями 
            a.agreement__link(href="#" target="_blank") пользовательского соглашения
      button.popup__close
        span.visually-hidden Закрыть окно

    .popup.popup--registration-success
      p.popup__header Спасибо!
      p.popup__text Мы перезвоним вам в течении рабочего дня.
      button.popup__close
        span.visually-hidden Закрыть окно
