extends ./layout/index.pug

block content
  include ./common/breadcrumbs.pug



  .page-about
    .container
      .page-about__content(style="background-image:url(./img/bg_direction.svg)")
        h1.page-about__header Мероприятия



  .filter
    form.filter__form(action="json/events.json")
      .filter__container.container
        .filter__form-row
          label.filter__label(for="filter1") Класс:
          select#filter1.filter__select(name="class")
            option.filter__option(value="0") Все
            option.filter__option(value="7") 7
            option.filter__option(value="8") 8
        .filter__form-row
          label.filter__label(for="filter2") Предмет:
          select#filter2.filter__select(name="subject")
            option.filter__option(value="0") Все
              option.filter__option(value="7") Математика
              option.filter__option(value="8") Обществознание
              option.filter__option(value="0") Все
                option.filter__option(value="7") Математика
                option.filter__option(value="8") Обществознание
                option.filter__option(value="0") Все
                  option.filter__option(value="7") Математика
                  option.filter__option(value="8") Обществознание
                  option.filter__option(value="0") Все
                    option.filter__option(value="7") Математика
                    option.filter__option(value="8") Обществознание
                    option.filter__option(value="0") Все
                      option.filter__option(value="7") Математика
                      option.filter__option(value="8") Обществознание
                      option.filter__option(value="0") Все
                        option.filter__option(value="7") Математика
                        option.filter__option(value="8") Обществознание
                        option.filter__option(value="0") Все
                          option.filter__option(value="7") Математика
                          option.filter__option(value="8") Обществознание
        .filter__form-row
          label.filter__label(for="filter3") Уровень:
          select#filter3.filter__select(name="level")
            option.filter__option(value="0") Все
            option.filter__option(value="1") Легкий
            option.filter__option(value="2") Средний
            option.filter__option(value="3") Тяжелый
        .filter__form-row
          label.filter__label(for="filter3") Дата:
          input(type=text placeholder="25.07.2018").js-smartfilter_input.filter__input-calendar




    .container
      .result(data-type="events")
        p.result__header 234 результата
        ul.result__list.result__list--events
          li.result__item
            .event-card
              a.event-card__link(href="event.html")
                .event-card__img-wrapper
                  img.event-card__img(src="/img/announcement-1.png", alt="Название мероприятия")
                .event-card__info
                  time.event-card__date(datetime="2018-04-12") 12 апреля 2018
                  p.event-card__name Название мероприятия
                  p.event-card__description Описание мероприятия
          li.result__item
            .event-card
              a.event-card__link(href="event.html")
                .event-card__img-wrapper
                  img.event-card__img(src="/img/announcement-1.png", alt="Название мероприятия")
                .event-card__info
                  time.event-card__date(datetime="2018-04-12") 13 апреля 2018
                  p.event-card__name Пиу-пиу
                  p.event-card__description ололо

        .result__more-wrapper.button__wrapper
          a.result__more.button.button--white(href="#")
            |Показать больше
            span.button__decoration



  .container
    .flex-desktop
      include ./common/text-block.pug
      .sidebar
        img(src='./img/subscription_delete.png')
