extends ./layout/index.pug

block content
  include ./common/breadcrumbs.pug



  .page-about
    .container
      .page-about__content(style="background-image:url(./img/bg_direction.svg)")
        .page-about__dates
          time.page-about__date 14-15 марта 2018
          time.page-about__duration с 10:00 до 19:00
        h1.page-about__header Брейн-брикс «Март»
        .page-about__link-wrapper.button__wrapper
          a.button(href="registration.html" target="_blank")
            |Записаться
            span.button__decoration



  .tab-block
    .container
      .tab-block__row
        ul.tab-block__list
          li.tab-block__item
            span.tab-block__name.tab-block__name--active Описание
          li.tab-block__item
            span.tab-block__name Расписание
          li.tab-block__item
            span.tab-block__name Материалы

      .sections.event-sections
        ul.sections__list
          li.sections__item.sections__item--active
            h2.sections__header О турнире

            p.sections__text 1. Каждый участник проходит три тура – письменный, компьютерный и механический тур. Каждый тур занимает 40-45 минут, между турами проходят перерывы. Начало и окончание туров фиксируются звонками.
            p.sections__text 2. Письменный тур состоит из четырех головоломок (типа судоку), решения которых надо сдать письменно. Все головоломки выдаются одновременно. Последовательность решения заданий не имеет значения. Правильность решения проверяет счетная комиссия.
            p.sections__text 3. Компьютерный тур состоит из четырех флеш-игр. Участник садится за компьютер, на котором открыты 4 вкладки, соответствующие головоломкам. Правильность решения проверяется автоматически. По окончании тура счетная комиссия фиксирует, сколько головоломок решено каждым участником.
            p.sections__text 4. Механический тур состоит из трех головоломок, которые надо собирать руками (механически). Головоломки выдаются участнику сразу все, собранная головоломка предъявляется счетной комиссии и отмечается в протоколе.
            p.sections__text 5. Каждому участнику выдается индивидуальный путевой лист, который заполняет счетная комиссия в каждом туре. Кроме того, результаты всех участников вносятся в протокол. После каждого этапа протоколы сдаются Главному Судье, который сводит их в общий протокол для подведения этапов.
            p.sections__text 6. Сводный протокол вывешивается для сверки. В перерывах участники могут сверить свои результаты с путевым листами и внести коррективы, подойдя к Главному Судье.
            p.sections__text 7. На каждом этапе имеет дополнительная головоломка повышенной сложности, которая выдается тем, кто справился с заданием полностью.







          li.sections__item
            h2.sections__header Март - Май 2018
            p.sections__link-wrapper
              span.sections__link-name Март - Май 2018.pdf 
              a.sections__link(href="#" target="_blank") Скачать
            p.sections__text Полное расписание направления «Математика. Продвинутый уровень» для 4 класса на март.
            p.sections__text До 1 февраля у нас будут проходить сборы, но мы очень постораемся, чтобы они не пересекались с этими занятиями и не мешали им.
            
          li.sections__item
            .files
              h2.visually-hidden Полезные файлы
              ul.files__list
                li.files__item
                  a.files__link.files__link--doc(href="#" target="_blank")
                    p.files__name Окгругли и сложи.pdf
                    .files__info
                      time.files__date(datetime="2018-04-12") 14.01.2018;
                      p.files__size 54 Мб.
                li.files__item
                  a.files__link.files__link--pdf(href="#" target="_blank")
                    p.files__name Окгругли и сложи.pdf
                    .files__info
                      time.files__date(datetime="2018-04-12") 14.01.2018;
                      p.files__size 54 Мб.
                li.files__item
                  a.files__link.files__link--doc(href="#" target="_blank")
                    p.files__name Окгругли и сложи.pdf
                    .files__info
                      time.files__date(datetime="2018-04-12") 14.01.2018;
                      p.files__size 54 Мб.



        //- .sidebar
        //-   .place
        //-     h3.place__header Место проведения
        //-     .place__map-wrapper.map-google(data-key="AIzaSyANJXoL9MM60HmArAcJY-9LOPhKkE2oUZc" data-center="56.8618601,53.2324284" data-zoom="14")
        //-       img.place__img(src="img/map.jpg", alt="Место проведения")
        //-     p.place__address г. Ижевск, ул. Береговая, 11.
        //-     p.place__name Экономико-математический лицей №29
        //-     p.place__phone Телефон: 8 (3412) 72-55-45
        //-   .news-wrap
        //-     a(href='#').news-link-page
        //-       h3.place__header НОВОСТИ
        //-       svg.news-link-page__icon(width="26" height="14")
        //-         use(xlink:href="#icon-arrow")
        //-     .news-content
        //-       a(href='#').news-item
        //-         span.date-publication 12 апреля 2018
        //-         strong.news-item__command Сборная 8-9 классов
        //-         p.news-item__info Победители турнира «Лига Победителей». Республиканская олимпиада 7-8 классов.
        //-       a(href='#').news-item
        //-         span.date-publication 12 апреля 2018
        //-         strong.news-item__command Сборная 8-9 классов
        //-         p.news-item__info Победители турнира «Лига Победителей». Республиканская олимпиада 7-8 классов.
        //-       a(href='#').news-item
        //-         span.date-publication 12 апреля 2018
        //-         strong.news-item__command Сборная 8-9 классов
        //-         p.news-item__info Победители турнира «Лига Победителей». Республиканская олимпиада 7-8 классов.
        //-   .shares
        //-     h3.place__header Поделиться
        //-     include ./common/shares.pug



  .container
    .participants
      h3.participants__header Участники

      ul.participants__list
        li.participants__item
          .participants__img-wrapper
            img.participants__img(src="img/participant-1.jpg", alt="Иван Иванович Иванов")
          p.participants__name Иван Иванович Иванов
          p.participants__position Ведущий
        li.participants__item
          .participants__img-wrapper
            img.participants__img(src="img/participant-1.jpg", alt="Иван Иванович Иванов")
          p.participants__name Иван Иванович Иванов
          p.participants__position Ведущий
        li.participants__item
          .participants__img-wrapper
            img.participants__img(src="img/participant-1.jpg", alt="Иван Иванович Иванов")
          p.participants__name Иван Иванович Иванов
          p.participants__position Ведущий
        li.participants__item
          .participants__img-wrapper
            img.participants__img(src="img/participant-1.jpg", alt="Иван Иванович Иванов")
          p.participants__name Иван Иванович Иванов
          p.participants__position Ведущий
  section.gallery
    .container
      h2.gallery__header Галерея

      ul.gallery__list
        li.gallery__item
          a.gallery__link(href="/img/gallery-1.jpg" target="_blank")
            img.gallery__img(src="/img/gallery-1.jpg", alt="Картинка 1")

        li.gallery__item
          a.gallery__link(href="/img/gallery-1.jpg" target="_blank")
            img.gallery__img(src="/img/gallery-1.jpg", alt="Картинка 1")

        li.gallery__item
          a.gallery__link(href="/img/gallery-1.jpg" target="_blank")
            img.gallery__img(src="/img/gallery-1.jpg", alt="Картинка 1")

        li.gallery__item
          a.gallery__link(href="/img/gallery-1.jpg" target="_blank")
            img.gallery__img(src="/img/gallery-1.jpg", alt="Картинка 1")

  

  section.partners
    .container
      h2.partners__header Партнёры и спонсоры

      ul.partners__list
        li.partners__item
          a.partners__link(href="#" target="_blank")
            img.partners__img(src="img/sponsor-1.png", alt="Спонсор 1")
        li.partners__item
          a.partners__link(href="#" target="_blank")
            img.partners__img(src="img/sponsor-1.png", alt="Спонсор 1")
        li.partners__item
          a.partners__link(href="#" target="_blank")
            img.partners__img(src="img/sponsor-1.png", alt="Спонсор 1")
        li.partners__item
          a.partners__link(href="#" target="_blank")
            img.partners__img(src="img/sponsor-1.png", alt="Спонсор 1")
        li.partners__item
          a.partners__link(href="#" target="_blank")
            img.partners__img(src="img/sponsor-1.png", alt="Спонсор 1")
        li.partners__item
          a.partners__link(href="#" target="_blank")
            img.partners__img(src="img/sponsor-1.png", alt="Спонсор 1")
