extends ./layout/index.pug

block content
  include ./common/breadcrumbs.pug



  .page-about
    .container
      .page-about__content(style="background-image:url(./img/bg_direction.svg)")
        h1.page-about__header Новости



  .filter
    form.filter__form(action="json/news.json")
      .filter__container.container
        .filter__form-row
          label.filter__label(for="filter1") Класс:
          select#filter1.filter__select(name="class")
            option.filter__option(value="0") Все
            option.filter__option(value="7") 7
            option.filter__option(value="8") 8
        .filter__form-row
          label.filter__label(for="filter2") Предмет:
          select#filter2.filter__select(name="subject")
            option.filter__option(value="0") Все
            option.filter__option(value="7") Математика
            option.filter__option(value="8") Обществознание
        .filter__form-row
          label.filter__label(for="filter3") Дата:
          select#filter3.filter__select(name="date")
            option.filter__option(value="0") Все
            option.filter__option(value="1") 12-17 марта
            option.filter__option(value="1") 18-22 марта



    .container
      .result(data-type="news")
        p.result__header 234 результата
        ul.result__list.result__list--news
          li.result__item
            .news-card
              a.news-card__link(href="one-news.html")
                .news-card__img-wrapper
                  div.bg-blur(style="background-image: url('./img/news-1-small.jpg')")
                  img.news-card__img(src="./img/news-1-small.jpg", alt="" )
                  div.news-card__hover-block
                    | Победители турнира «Лига победителей».
                    br
                    | Республиканская олимпиада 7-8 классов.
                    span.button.open-news
                      span.button__decoration
                div
                  time.news-card__date(datetime="2018-04-12") 12 апреля 2018
                  p.news-card__name Сборная 8-9 классов
          li.result__item
            .news-card
              a.news-card__link(href="one-news.html")
                .news-card__img-wrapper
                  div.bg-blur(style="background-image: url('http://alenn.picom.su/upload/resize_cache/iblock/303/350_450_140cd750bba9870f18aada2478b24840a/ludk.png')")
                  img.news-card__img(src="http://alenn.picom.su/upload/resize_cache/iblock/303/350_450_140cd750bba9870f18aada2478b24840a/ludk.png", alt="" )
                  div.news-card__hover-block
                    | Победители турнира «Лига победителей».
                    br
                    | Республиканская олимпиада 7-8 классов.
                    span.button.open-news
                      span.button__decoration
                div
                  time.news-card__date(datetime="2018-04-12") 12 апреля 2018
                  p.news-card__name Сборная 8-9 классов
          li.result__item
            .news-card
              a.news-card__link(href="one-news.html")
                .news-card__img-wrapper
                  div.bg-blur(style="background-image: url('./img/news-1-small.jpg')")
                  img.news-card__img(src="./img/news-1-small.jpg", alt="" )
                  div.news-card__hover-block
                    | Победители турнира «Лига победителей».
                    br
                    | Республиканская олимпиада 7-8 классов.
                    span.button.open-news
                      span.button__decoration
                div
                  time.news-card__date(datetime="2018-04-12") 12 апреля 2018
                  p.news-card__name Сборная 8-9 классов
          li.result__item
            .news-card
              a.news-card__link(href="one-news.html")
                .news-card__img-wrapper
                  div.bg-blur(style="background-image: url('./img/news-1-small.jpg')")
                  img.news-card__img(src="./img/news-1-small-small.jpg", alt="" )
                  div.news-card__hover-block
                    | Победители турнира «Лига победителей».
                    br
                    | Республиканская олимпиада 7-8 классов.
                    span.button.open-news
                      span.button__decoration
                div
                  time.news-card__date(datetime="2018-04-12") 12 апреля 2018
                  p.news-card__name Сборная 8-9 классов
          li.result__item
            .news-card
              a.news-card__link.no-img(href="one-news.html")
                .news-card__img-wrapper
                  img.news-card__img(src="", alt="" )
                  div.news-card__hover-block
                    | Победители турнира «Лига победителей».
                    br
                    | Республиканская олимпиада 7-8 классов.
                    span.button.open-news
                      span.button__decoration
                div
                  time.news-card__date(datetime="2018-04-12") 12 апреля 2018
                  p.news-card__name Сборная 8-9 классов
          li.result__item
            .news-card
              a.news-card__link(href="one-news.html")
                .news-card__img-wrapper
                  div.bg-blur(style="background-image: url('./img/news-1.jpg')")
                  img.news-card__img(src="./img/news-1.jpg", alt="" )
                  div.news-card__hover-block
                    | Победители турнира «Лига победителей».
                    br
                    | Республиканская олимпиада 7-8 классов.
                    span.button.open-news
                      span.button__decoration
                div
                  time.news-card__date(datetime="2018-04-12") 12 апреля 2018
                  p.news-card__name Сборная 8-9 классов

        .result__more-wrapper.button__wrapper
          a.result__more.button.button--border(href="#")
            |Показать больше
            span.button__decoration
