extends ./layout/index.pug

block content
  include ./common/breadcrumbs.pug



  .page-about
    .container
      .page-about__content(style="background-image:url(./img/bg_direction.svg)")
        h1.page-about__header Название новости



  .container
    .flex-desktop
      include ./common/text-block.pug
      .sidebar
        img(src='./img/subscription_delete.png')



  include ./common/gallery.pug



  .popup__overlay
    .popup.popup--img
      img.popup__img(src="/img/loading.gif", alt="загрузка картинки")
      button.popup__close
        span.visually-hidden Закрыть окно
