extends ./layout/index.pug

block content
  h1.visually-hidden Главная страница 7 пядей

  .breadcrumbs
    .container
      ul.breadcrumbs__list
        li.breadcrumbs__item
          a(href="#").breadcrumbs__link Главная
          svg(width="9" height="7").breadcrumbs__icon
            use(xlink:href="#icon-arrow--short")
        li.breadcrumbs__item
          span.breadcrumbs__link Регистрация на курсы


  .registration.registration--cource
    .registration__content
      h1.registration__header Регистрация на курсы

      .registration__page.registration__page--active
        p.registration__description Заполните данные и мы свяжемся с вами в ближайшее время.

        form.registration__form(action="json/success.json")
          fieldset.registration__fieldset
            p.registration__legend Заполните форму

           
            .registration__input-block
              label.registration__label(for="name") Фамилия, имя ребенка
              input#name.registration__input(type="text" name="name" data-field="1" required)
            .registration__input-block.registration__input-block--grade
              label.registration__label(for="grade") Класс
              select#grade.registration__select.registration__select--grade(name="grade" data-field="2")
                option.registration__option(value="3") 3
                option.registration__option(value="4") 4
                option.registration__option(value="5") 5

            .registration__input-block
              label.registration__label(for="school") Школа
              input#school.registration__input(type="text" name="school" data-field="3" required)

            .registration__input-block.registration__input-block--pair
              label.registration__label(for="pair") Смена, в которую учится ребенок
              select#pair.registration__select.registration__select--grade(name="pair" data-field="4")
                option.registration__option(value="1") Первая
                option.registration__option(value="2") Вторая

            .registration__input-block
              label.registration__label(for="course") Курс (!!! Обратите внимание для какого возраста он предназначен)
              .registration__input-field
                input.registration__input.registration__input--checkbox(type="checkbox" id="checkbox-1")
                label.registration__label.registration__label--checkbox(for="checkbox-1") Олимпиадная информатика (с 6 по 11 класс)
              .registration__input-field
                input.registration__input.registration__input--checkbox(type="checkbox" id="checkbox-2")
                label.registration__label.registration__label--checkbox(for="checkbox-2" required) Олимпиадная информатика, начинающие (6 - 9 класс)
            
            .registration__input-block
              label.registration__label(for="mobile-child") Сотовый телефон ребенка
              input#mobile-child.registration__input.registration__input--phone.js-phone(type="text" name="mobile-child" data-field="5")

            .registration__input-block
              label.registration__label(for="contact-name") ФИО одного из родителей 
              input#contact-name.registration__input(type="text" name="contact-name" data-field="6" required)
            
            .registration__input-block
              label.registration__label(for="contact-name-mobile") Сотовый телефон
              input#contact-name-mobile.registration__input.registration__input--phone.js-phone(type="text" name="contact-name-mobile" data-field="7")
            
            .registration__input-block
              label.registration__label(for="contact-email") Электронная почта
              input#contact-email.registration__input(type="email" name="contact-email" data-field="8" required)
            
            .registration__input-block
              label.registration__label(for="pair") Откуда Вы узнали про Центр "СЕМЬ ПЯДЕЙ"?
              select#pair.registration__select.registration__select--grade(name="pair" data-field="9")
                option.registration__option(value="1") Ребенок ходил в прошлом году
                option.registration__option(value="2") Ребенок участвовал в Сборах "Головастик"

        .registration__controls.button__wrapper.button__wrapper--center
          button.registration__control-prev.button.button--border
            |Назад
            span.button__decoration
          button.registration__control-submit.button
            |Отправить
            span.button__decoration

        .agreement
          input.agreement__input(type="checkbox" id="agreement")
          label.agreement__label(for="agreement")
            |Я согласен с условиями 
            a.agreement__link(href="#" target="_blank") пользовательского соглашения
        p.registration__hint После отправки формы регистрации, на указанный электронный адрес придёт письмо с подтверждением регистрации

  .popup__overlay
    .popup.popup--registration-success
      p.popup__header Спасибо!
      p.popup__text Мы перезвоним вам в течении рабочего дня.
      button.popup__close
        span.visually-hidden Закрыть окно


  script(src="js/main.js")
