doctype html
html(lang="ru")
  head
    link(rel="preload" href="css/styles.css" as="style" crossorigin)
    link(rel="preload" href="fonts/fira-sans-400.woff2" as="font" crossorigin)
    link(rel="preload" href="fonts/fira-sans-500.woff2" as="font" crossorigin)

    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title 7 пядей
    script
      include layout/head-script.js
    link(rel="stylesheet" href="css/styles.css")
  body
    .registration.registration--ajax
      .logo.logo--registration
        a.logo__link(href="index.html")
          img.logo__img(src="./img/logo.svg"  alt="Логотип 7 пядей" width="160" height="88")

      .registration__content
          p.registration__step
            |Шаг 
            span.registration__step-current 1
            |  из 2
          h1.registration__header Регистрация на дистанционный конкурс

          .registration__page.registration__page--active
            p.registration__description Регистрация на «Русский медвежонок» или Гилиантус доступна для кураторов от учебных заведений Удмуртской Республики.
            p.registration__description Если вы хотите:<br>- зарегестрироваться отдельно от учебного заведния;<br>- изменить заявку заполненую ранее<br>позвоните по телефону +7 (3412) 44-44-44

            form.registration__form(action="json/success.json")
              fieldset.registration__fieldset
                p.registration__legend Заполните форму

                .registration__input-block
                  label.registration__label(for="contest-name") Название конкурса *
                  select#contest-name.registration__select(name="contest-name" data-field="0")
                    option.registration__option(value="1") Русский медвежонок
                    option.registration__option(value="2") Конкурс
                .registration__input-block
                  label.registration__label(for="address") Территориальная единица (город, район) *
                  input#address.registration__input.registration__input--address(type="text" name="address" data-field="1" required)

                .registration__input-block
                  label.registration__label(for="institution") Школа *
                  input#institution.registration__input.registration__input--institution(type="text" name="institution" data-field="2" required)

              fieldset.registration__fieldset
                .registration__input-block.registration__input-block--institution
                  label.registration__label(for="institution") Школа *
                  input#institution.registration__input.registration__input--institution(type="text" name="institution" data-field="2" required)
                  .registration__input-field.registration__input-field--noSchool
                    input.registration__input.registration__input--checkbox(type="checkbox" id="checkbox-1")
                    label.registration__label.registration__label--checkbox(for="checkbox-1" required) Моей школы нет в списке
                .registration__input-block.registration__input-block--otherSchoolName
                  label.registration__label(for="other-school") Введите название учебного заведения. Мы зарегистрируем новое название и обновим форму, после чего Вам придет уведомление на e-mail и Вы сможете отправить заявку на конкурс
                  input#other-school.registration__input(type="text" name="other-school" data-field="6" required)

              fieldset.registration__fieldset.registration__fieldset--hide
                p.registration__legend Укажите количество участников
                .registration__input-row
                  .registration__input-block.registration__input-block--class
                    label.registration__label(for="class-1") 1 класс
                    input#class-1.registration__input(type="text" name="class-1" placeholder="0" data-field="3")
                  .registration__input-block.registration__input-block--class
                    label.registration__label(for="class-2") 2 класс
                    input#class-2.registration__input(type="text" name="class-2" placeholder="0" data-field="4")
                  .registration__input-block.registration__input-block--class
                    label.registration__label(for="class-3") 3 класс
                    input#class-3.registration__input(type="text" name="class-3" placeholder="0" data-field="5")
                  .registration__input-block.registration__input-block--class
                    label.registration__label(for="class-4") 4 класс
                    input#class-4.registration__input(type="text" name="class-4" placeholder="0" data-field="6")
                  .registration__input-block.registration__input-block--class
                    label.registration__label(for="class-5") 5 класс
                    input#class-5.registration__input(type="text" name="class-5" placeholder="0" data-field="7")
                  .registration__input-block.registration__input-block--class
                    label.registration__label(for="class-6") 6 класс
                    input#class-6.registration__input(type="text" name="class-6" placeholder="0" data-field="8")
                  .registration__input-block.registration__input-block--class
                    label.registration__label(for="class-7") 7 класс
                    input#class-7.registration__input(type="text" name="class-7" placeholder="0" data-field="9")
                  .registration__input-block.registration__input-block--class
                    label.registration__label(for="class-8") 8 класс
                    input#class-8.registration__input(type="text" name="class-8" placeholder="0" data-field="10")
                  .registration__input-block.registration__input-block--class
                    label.registration__label(for="class-9") 9 класс
                    input#class-9.registration__input(type="text" name="class-9" placeholder="0" data-field="11")
                  .registration__input-block.registration__input-block--class
                    label.registration__label(for="class-10") 10 класс
                    input#class-10.registration__input(type="text" name="class-10" placeholder="0" data-field="12")
                  .registration__input-block.registration__input-block--class
                    label.registration__label(for="class-11") 11 класс
                    input#class-11.registration__input(type="text" name="class-11" placeholder="0" data-field="13")

              fieldset.registration__fieldset.registration__fieldset--hide
                p.registration__legend Контакты куратора 
                .registration__input-block
                  label.registration__label(for="contact-name") Ф.И.О. *
                  input#contact-name.registration__input(type="text" name="contact-name" data-field="14" required)
                .registration__input-block
                  label.registration__label(for="contact-email") Электронная почта *
                  input#contact-email.registration__input(type="email" name="contact-email" data-field="15" required)
                .registration__input-block
                  label.registration__label(for="contact-phone") Телефон * 
                  input#contact-phone.registration__input.registration__input--phone.js-phone(type="text" name="contact-phone" data-field="16" required)


            .registration__controls.button__wrapper.button__wrapper--center
              button.registration__control-next.button
                |Следующий шаг
                span.button__decoration

          .registration__page
            .registration-check
              .registration-check__block
                .registration-check__block-header Заполните форму
                .registration-check__item
                  p.registration-check__name Название конкурса
                  p.registration-check__value(data-field="0") Русский медвежонок
                .registration-check__item
                  p.registration-check__name Адрес
                  p.registration-check__value(data-field="1")
                .registration-check__item
                  p.registration-check__name Учебное заведение
                  p.registration-check__value(data-field="2")

              .registration-check__block
                .registration-check__block-header Количество участников
                .registration-check__row
                  .registration-check__item.registration-check__item--class
                    p.registration-check__name 1 класс: 
                    p.registration-check__value(data-field="3") 0
                  .registration-check__item.registration-check__item--class
                    p.registration-check__name 2 класс: 
                    p.registration-check__value(data-field="4") 0
                  .registration-check__item.registration-check__item--class
                    p.registration-check__name 3 класс: 
                    p.registration-check__value(data-field="5") 0
                  .registration-check__item.registration-check__item--class
                    p.registration-check__name 4 класс: 
                    p.registration-check__value(data-field="6") 0
                  .registration-check__item.registration-check__item--class
                    p.registration-check__name 5 класс: 
                    p.registration-check__value(data-field="7") 0
                  .registration-check__item.registration-check__item--class
                    p.registration-check__name 6 класс: 
                    p.registration-check__value(data-field="8") 0
                  .registration-check__item.registration-check__item--class
                    p.registration-check__name 7 класс: 
                    p.registration-check__value(data-field="9") 0
                  .registration-check__item.registration-check__item--class
                    p.registration-check__name 8 класс: 
                    p.registration-check__value(data-field="10") 0
                  .registration-check__item.registration-check__item--class
                    p.registration-check__name 9 класс: 
                    p.registration-check__value(data-field="11") 0
                  .registration-check__item.registration-check__item--class
                    p.registration-check__name 10 класс: 
                    p.registration-check__value(data-field="12") 0
                  .registration-check__item.registration-check__item--class
                    p.registration-check__name 11 класс: 
                    p.registration-check__value(data-field="13") 0

              .registration-check__block
                .registration-check__block-header Контакты куратора
                .registration-check__item
                  p.registration-check__name Ф.И.О.
                  p.registration-check__value(data-field="14")
                .registration-check__item
                  p.registration-check__name Электронная почта
                  p.registration-check__value(data-field="15")
                .registration-check__item
                  p.registration-check__name Телефон
                  p.registration-check__value(data-field="16")


            .registration__controls.button__wrapper.button__wrapper--center
              button.registration__control-prev.button.button--border
                |Назад
                span.button__decoration
              button.registration__control-submit.button
                |Отправить
                span.button__decoration

            .agreement
              input.agreement__input(type="checkbox" id="agreement")
              label.agreement__label(for="agreement")
                |Я согласен с условиями 
                a.agreement__link(href="#" target="_blank") пользовательского соглашения
            p.registration__hint После отправки формы регистрации, на указанный электронный адрес придёт письмо с подтверждением регистрации



    .popup__overlay
      .popup.popup--registration-success
        p.popup__header Спасибо!
        p.popup__text Мы перезвоним вам в течении рабочего дня.
        button.popup__close
          span.visually-hidden Закрыть окно


    script(src="js/main.js")
