extends ./layout/index.pug

block content
  h1.visually-hidden Главная страница 7 пядей
  .container


    .timetable
      ul.timetable__list
        li.timetable__item.timetable-item
          .timetable-item__info
            p.timetable-item__day Понедельник
            time.timetable-item__date(datetime="2018-04-12") 12 апреля 2018
          .timetable__content
            .timetable__row
              .timetable__left
                time.timetable-item__time c 09: 30 до 11: 15
              .timetable__right
                ul.timetable__subject.subject__list
                  li.subject__item.timetable-item__name  Математика
            .timetable__row
              .timetable__left
                time.timetable-item__time c 09: 30 до 11: 15
              .timetable__right
                ul.timetable__subject.subject__list
                  li.subject__item.timetable-item__name  Математика
                  li.subject__item.timetable-item__name  Математика
                  li.subject__item.timetable-item__name  Математика
                  li.subject__item.timetable-item__name  Математика
                  li.subject__item.timetable-item__name  Математика
            .timetable__row
              .timetable__left
                time.timetable-item__time c 09: 30 до 11: 15
              .timetable__right
                ul.timetable__subject.subject__list
                  li.subject__item.timetable-item__name  Математика
            .timetable__row
              .timetable__left
                time.timetable-item__time c 09: 30 до 11: 15
              .timetable__right
                ul.timetable__subject.subject__list
                  li.subject__item.timetable-item__name  Математика
                  li.subject__item.timetable-item__name  Математика
                  li.subject__item.timetable-item__name  Математика
      
        li.timetable__item.timetable-item
          .timetable-item__info
            p.timetable-item__day Понедельник
            time.timetable-item__date(datetime="2018-04-12") 12 апреля 2018
          .timetable__content
            .timetable__row
              .timetable__left
                time.timetable-item__time c 09: 30 до 11: 15
              .timetable__right
                ul.timetable__subject.subject__list
                  li.subject__item.timetable-item__name  Математика
            .timetable__row
              .timetable__left
                time.timetable-item__time c 09: 30 до 11: 15
              .timetable__right
                ul.timetable__subject.subject__list
                  li.subject__item.timetable-item__name  Математика
                  li.subject__item.timetable-item__name  Математика
                  li.subject__item.timetable-item__name  Математика
                  li.subject__item.timetable-item__name  Математика
                  li.subject__item.timetable-item__name  Математика
            .timetable__row
              .timetable__left
                time.timetable-item__time c 09: 30 до 11: 15
              .timetable__right
                ul.timetable__subject.subject__list
                  li.subject__item.timetable-item__name  Математика
            .timetable__row
              .timetable__left
                time.timetable-item__time c 09: 30 до 11: 15
              .timetable__right
                ul.timetable__subject.subject__list
                  li.subject__item.timetable-item__name  Математика
                  li.subject__item.timetable-item__name  Математика
                  li.subject__item.timetable-item__name  Математика
      
      .slider__controls.slider__controls--timetable
        button.slider__control.slider__control--prev
          span.visually-hidden Предыдущий слайд
          svg.slider__control-icon(width="11" height="16")
            use(xlink:href="#icon-slider-arrow")
        button.slider__control
          span.visually-hidden Следующий слайд
          svg.slider__control-icon(width="11" height="16")
            use(xlink:href="#icon-slider-arrow")      