extends ./layout/index.pug

block content
  include ./common/breadcrumbs.pug



  .page-about
    .container
      .page-about__content(style="background-image:url(./img/bg_direction.svg)")
        h1.page-about__header Математика 4 класс
        p.page-about__description Продвинутый уровень
        .page-about__link-wrapper.button__wrapper
          a.button(href="#" data-popup="registration")
            |Записаться
            span.button__decoration



  include ./common/announcements.pug



  .tab-block
    .container
      .tab-block__row
        ul.tab-block__list
          li.tab-block__item
            span.tab-block__name.tab-block__name--active Описание
          li.tab-block__item
            span.tab-block__name Расписание
          li.tab-block__item
            span.tab-block__name Материалы

        .tab-block__link-wrapper
          a.tab-block__link(href="#") Текущий рейтинг

      .sections.event-sections
        ul.sections__list.event-content
          li.sections__item.sections__item--active
            h2.sections__header Описание
            p.sections__text Наши занятия сильно отличаются от школьных. Традиционно школьные занятия построены на том, что учитель рассказывает тему, дальше идут простые задания на закрепление, потом – чуть посложнее и в итоге контрольная работа. Мы делаем иначе. Наши занятия построены на том, что дети через задачи попытаются сделать самостоятельное открытие. Изначально выдаются задачи или проблемы, над которыми надо думать. По математике, например, задачи могут затрагивать несколько несвязанных тем и идей, чтобы ребенок не зацикливался на стандартных способах и алгоритмах. Не подразумевается, что ребенок сможет решать все заданий, хотя к этому стоит стремиться. Основное в занятиях – это общение с преподавателем. Поэтому группы мы стараемся сделать поменьше, 10-15 человек.

            .teachers
              h2.header-link
                a.header-link__link(href="teachers.html")
                  |Преподаватели
                  svg.header-link__icon(width="65" height="14")
                    use(xlink:href="#icon-arrow--long")
              ul.teachers__list
                li.teachers__item
                  .teachers__img-wrapper
                    img.teachers__img(src="./img/teacher-1.jpg", alt="Иван Иванович")
                  .teachers__info
                    p.teachers__name Иван Иванович
                    p.teachers__position Преподователь информатики и математики
                    p.teachers__about Заслуженный учитель Удмуртии, член Всероссийской методической комиссии по математике, тренер сборной Удмуртии по математике, президент Ижевского клуба интеллектуальных игр.

                li.teachers__item
                  .teachers__img-wrapper
                    img.teachers__img(src="./img/teacher-1.jpg", alt="Иван Иванович")
                  .teachers__info
                    p.teachers__name Иван Иванович
                    p.teachers__position Преподователь информатики и математики
                    p.teachers__about Заслуженный учитель Удмуртии, член Всероссийской методической комиссии по математике, тренер сборной Удмуртии по математике, президент Ижевского клуба интеллектуальных игр.

                li.teachers__item
                  .teachers__img-wrapper
                    img.teachers__img(src="./img/teacher-1.jpg", alt="Иван Иванович")
                  .teachers__info
                    p.teachers__name Иван Иванович
                    p.teachers__position Преподователь информатики и математики
                    p.teachers__about Заслуженный учитель Удмуртии, член Всероссийской методической комиссии по математике, тренер сборной Удмуртии по математике, президент Ижевского клуба интеллектуальных игр.
          
          li.sections__item
            h2.sections__header Март - Май 2018
            p.sections__link-wrapper
              span.sections__link-name Март - Май 2018.pdf 
              a.sections__link(href="#" target="_blank") Скачать
            p.sections__text Полное расписание направления «Математика. Продвинутый уровень» для 4 класса на март.
            p.sections__text До 1 февраля у нас будут проходить сборы, но мы очень постораемся, чтобы они не пересекались с этими занятиями и не мешали им.

            .timetable-subject
              ul.timetable-subject__list
                li.timetable-subject__item.timetable-subject-item
                  .timetable-subject-item__info
                    p.timetable-subject-item__day Понедельник
                    time.timetable-subject-item__date(datetime="2018-04-12") 12 апреля 2018
                  ul.timetable-subject-item__list
                    li.timetable-subject-item__item
                      .timetable-subject-item__content
                        .timetable-subject-item__about
                          time.timetable-subject-item__time(datetime="2018-04-12T16:00/2018-04-12T17:30") 16:00 — 17:30
                          p.timetable-subject-item__name Экономико-математический лицей №29
                          .timetable-subject-item__additional
                            p.timetable-subject-item__place ул. Береговая, 11
                            p.timetable-subject-item__class Класс 11
                        .timetable-subject-item__people
                          p.timetable-subject-item__type Преподаватели
                          ul.timetable-subject-item__people-list
                            li.timetable-subject-item__people-item Иван Иванович Смирнов
                            li.timetable-subject-item__people-item Ангелина Александровна Николаева
                    li.timetable-subject-item__item
                      .timetable-subject-item__content
                        .timetable-subject-item__about
                          time.timetable-subject-item__time(datetime="2018-04-12T16:00/2018-04-12T17:30") 16:00 — 17:30
                          p.timetable-subject-item__name Экономико-математический лицей №29
                          .timetable-subject-item__additional
                            p.timetable-subject-item__place ул. Береговая, 11
                            p.timetable-subject-item__class Класс 11
                        .timetable-subject-item__people
                          p.timetable-subject-item__type Преподаватели
                          ul.timetable-subject-item__people-list
                            li.timetable-subject-item__people-item Иван Иванович Смирнов
                            li.timetable-subject-item__people-item Ангелина Александровна Николаева

                li.timetable-subject__item.timetable-subject-item
                  .timetable-subject-item__info
                    p.timetable-subject-item__day Понедельник
                    time.timetable-subject-item__date(datetime="2018-04-12") 12 апреля 2018
                  ul.timetable-subject-item__list
                    li.timetable-subject-item__item
                      .timetable-subject-item__content
                        .timetable-subject-item__about
                          time.timetable-subject-item__time(datetime="2018-04-12T16:00/2018-04-12T17:30") 16:00 — 17:30
                          p.timetable-subject-item__name Экономико-математический лицей №29
                          .timetable-subject-item__additional
                            p.timetable-subject-item__place ул. Береговая, 11
                            p.timetable-subject-item__class Класс 11
                        .timetable-subject-item__people
                          p.timetable-subject-item__type Преподаватели
                          ul.timetable-subject-item__people-list
                            li.timetable-subject-item__people-item Иван Иванович Смирнов
                            li.timetable-subject-item__people-item Ангелина Александровна Николаева
                    li.timetable-subject-item__item
                      .timetable-subject-item__content
                        .timetable-subject-item__about
                          time.timetable-subject-item__time(datetime="2018-04-12T16:00/2018-04-12T17:30") 16:00 — 17:30
                          p.timetable-subject-item__name Экономико-математический лицей №29
                          .timetable-subject-item__additional
                            p.timetable-subject-item__place ул. Береговая, 11
                            p.timetable-subject-item__class Класс 11
                        .timetable-subject-item__people
                          p.timetable-subject-item__type Преподаватели
                          ul.timetable-subject-item__people-list
                            li.timetable-subject-item__people-item Иван Иванович Смирнов
                            li.timetable-subject-item__people-item Ангелина Александровна Николаева

          li.sections__item
            .files
              h2.visually-hidden Полезные файлы
              ul.files__list
                li.files__item
                  a.files__link.files__link--doc(href="#" target="_blank")
                    p.files__name Окгругли и сложи.pdf
                    .files__info
                      time.files__date(datetime="2018-04-12") 14.01.2018;
                      p.files__size 54 Мб.
                li.files__item
                  a.files__link.files__link--pdf(href="#" target="_blank")
                    p.files__name Окгругли и сложи.pdf
                    .files__info
                      time.files__date(datetime="2018-04-12") 14.01.2018;
                      p.files__size 54 Мб.
                li.files__item
                  a.files__link.files__link--doc(href="#" target="_blank")
                    p.files__name Окгругли и сложи.pdf
                    .files__info
                      time.files__date(datetime="2018-04-12") 14.01.2018;
                      p.files__size 54 Мб.
        .sidebar
          .place
            h3.place__header Место проведения
            .place__map-wrapper.map-google(data-key="AIzaSyANJXoL9MM60HmArAcJY-9LOPhKkE2oUZc" data-center="56.8618601,53.2324284" data-zoom="14")
              img.place__img(src="img/map.jpg", alt="Место проведения")
            p.place__address г. Ижевск, ул. Береговая, 11.
            p.place__name Экономико-математический лицей №29
            p.place__phone Телефон: 8 (3412) 72-55-45
          .news-wrap
            a(href='#').news-link-page
              h3.place__header НОВОСТИ
            .news-content
              a(href='#').news-item
                span.date-publication 12 апреля 2018
                strong.news-item__command Сборная 8-9 классов
                p.news-item__info Победители турнира «Лига Победителей». Республиканская олимпиада 7-8 классов.
              a(href='#').news-item
                span.date-publication 12 апреля 2018
                strong.news-item__command Сборная 8-9 классов
                p.news-item__info Победители турнира «Лига Победителей». Республиканская олимпиада 7-8 классов.
              a(href='#').news-item
                span.date-publication 12 апреля 2018
                strong.news-item__command Сборная 8-9 классов
                p.news-item__info Победители турнира «Лига Победителей». Республиканская олимпиада 7-8 классов.
          .shares
            h3.place__header Поделиться
            include ./common/shares.pug


  section.events
    .container
      h2.header-link
        a.header-link__link(href="events.html")
          |Мероприятия
          svg.header-link__icon(width="65" height="14")
            use(xlink:href="#icon-arrow--long")

      ul.events__list
        li.events__item.event-card
          a.event-card__link(href="event.html")
            .event-card__img-wrapper
              img.event-card__img(src="/img/announcement-1.png", alt="Название мероприятия")
            .event-card__info
              time.event-card__date(datetime="2018-04-12") 12 апреля 2018
              p.event-card__name Название мероприятия
              p.event-card__description Описание мероприятия
        li.events__item.event-card
          a.event-card__link(href="event.html")
            .event-card__img-wrapper
              img.event-card__img(src="/img/announcement-1.png", alt="Название мероприятия")
            .event-card__info
              time.event-card__date(datetime="2018-04-12") 12 апреля 2018
              p.event-card__name Название мероприятия
              p.event-card__description Описание мероприятия
        li.events__item.event-card
          a.event-card__link(href="event.html")
            .event-card__img-wrapper
              img.event-card__img(src="/img/announcement-1.png", alt="Название мероприятия")
            .event-card__info
              time.event-card__date(datetime="2018-04-12") 12 апреля 2018
              p.event-card__name Название мероприятия
              p.event-card__description Описание мероприятия



  include ./common/gallery.pug
  .popup__overlay
    .popup.popup--gallery
      .popup__container
        .popup__list-img.popup__list-top
        .popup__nav
          .popup__prev
            svg.popup__prev-svg(width="11" height="16")
              use(xlink:href="#icon-slider-arrow")
          .popup__next
            svg.popup__next-svg(width="11" height="16")
              use(xlink:href="#icon-slider-arrow")
      
      ul.popup__toggles
      button.popup__close
        span.visually-hidden Закрыть окно



  .popup__overlay
    .popup.popup--registration
      p.popup__header Записаться на занятия
      p.popup__text Заполните данные и мы свяжемся с вами
      form.popup__form(action="json/success.json")
        .popup__row
          label.popup__label(for="name") Ф.И.О.
          input#name.popup__input(type="text" name="name" required)
        .popup__row
          label.popup__label(for="email") Электронная почта
          input#email.popup__input(type="email" name="email" required)
        .popup__row
          label.popup__label(for="phone") Телефон
          input#phone.popup__input.popup__input--phone(type="text" name="phone" required)
        .popup__row
          button.popup__submit.button
            |Записаться
            span.button__decoration
        .agreement
          input.agreement__input(type="checkbox" id="agreement")
          label.agreement__label(for="agreement")
            |Я согласен с условиями 
            a.agreement__link(href="#" target="_blank") пользовательского соглашения
      button.popup__close
        span.visually-hidden Закрыть окно

    .popup.popup--registration-success
      p.popup__header Спасибо!
      p.popup__text Мы перезвоним вам в течении рабочего дня.
      button.popup__close
        span.visually-hidden Закрыть окно

    .popup.popup--img

      img.popup__img(src="/img/loading.gif", alt="загрузка картинки")
      button.popup__close
        span.visually-hidden Закрыть окно
