extends ./layout/index.pug

block content
  .page-about
    .container
      .page-about__content(style="background-image:url(./img/bg_direction.svg)")
        h1.page-about__header Преподаватели
        p.page-about__description В центре работают сильные преподаватели, которые любят учиться и учить.




  .container
    .teachers
      ul.teachers__list
        li.teachers__item
          .teachers__img-wrapper
            img.teachers__img(src="./img/teacher-1.jpg", alt="Иван Иванович")
          .teachers__info
            p.teachers__name Иван Иванович
            p.teachers__position Преподователь информатики и математики
            p.teachers__about Заслуженный учитель Удмуртии, член Всероссийской методической комиссии по математике, тренер сборной Удмуртии по математике, президент Ижевского клуба интеллектуальных игр.

        li.teachers__item
          .teachers__img-wrapper
            img.teachers__img(src="./img/teacher-1.jpg", alt="Иван Иванович")
          .teachers__info
            p.teachers__name Иван Иванович
            p.teachers__position Преподователь информатики и математики
            p.teachers__about Заслуженный учитель Удмуртии, член Всероссийской методической комиссии по математике, тренер сборной Удмуртии по математике, президент Ижевского клуба интеллектуальных игр.

        li.teachers__item
          .teachers__img-wrapper
            img.teachers__img(src="./img/teacher-1.jpg", alt="Иван Иванович")
          .teachers__info
            p.teachers__name Иван Иванович
            p.teachers__position Преподователь информатики и математики
            p.teachers__about Заслуженный учитель Удмуртии, член Всероссийской методической комиссии по математике, тренер сборной Удмуртии по математике, президент Ижевского клуба интеллектуальных игр.
          