.registration {
  @media (min-width: @desktop) {
    padding: 0 0 100px;
  }
}



.registration__content {
  box-shadow: 0 8px 45px #c3ccde;
  padding: 16px 13px 0;
  max-width: 790px;
  margin: 0 auto;


  @media (min-width: @tablet) {
    padding: 20px 120px 0;
  }

  @media (min-width: @desktop) {
    padding: 20px 30px 0;
  }
}



.registration__step {
  font-size: 12px;
  line-height: 16px;
  color: @additional-text-color;


  @media (min-width: @desktop) {
    font-size: 14px;
    line-height: 18px;
  }
}



.registration__header {
  .h3();
  margin: 29px 0 11px;


  @media (min-width: @desktop) {
    font-size: 36px;
    line-height: 43px;
  }
}



.registration__page {
  display: none;

  &--active {
    display: block;
  }
}



.registration__description {
  font-size: 14px;
  line-height: 18px;
  color: @additional-text-color;
  margin: 0 0 18px;


  @media (min-width: @desktop) {
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 26px;
  }
}



.registration__fieldset {
  border: none;
  padding: 8px 0 11px;
  &--hide {
    display: none;
  }
}



.registration__legend {
  .h4();
  padding: 0 0 5px;
}



.registration__input-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  width: calc(~'100% + 20px');
  margin: 0 -10px;
}

.registration__input-block {
  margin: 0 0 30px;

  &--pair {
    .choices{
      max-width: 130px;
    }
  }

  &--class {
    width: calc(~'33.333333% - 20px');
    margin: 0 10px 12px;
  }

  &--error {
    position: relative;

    &:after {
      content: 'Неправильно заполненное поле';
      display: block;
      position: absolute;
      width: 100%;
      top: 100%;
      font-size: 14px;
      color: #fe6681;
    }
  }
  &--otherSchoolName {
    display: none;
  }

  @media (min-width: @desktop) {
    &--class {
      width: calc(~'16.666666% - 20px');
    }
  }
}

.otherSchoolName-active {
  display: block;
}

.registration__label {
  font-size: 14px;
  line-height: 18px;
  color: @additional-text-color;
  display: inline-block;
  vertical-align: top;
  margin: 5px 0;
  &--radio {
    margin-left: 5px;
  }
}

.registration__select {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #cbcbcb;
  height: 50px;
  line-height: 48px;
  padding: 0 15px;
  max-width: 450px;
}

.registration__input-block--grade {
  .choices{
    max-width: 80px;
  }
}

.registration__input {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #cbcbcb;
  height: 50px;
  line-height: 48px;
  padding: 0 15px;
  .inputState();
  max-width: 450px;

  .registration__input-block--error & {
    border-color: #fe6681;
  }
}

.registration__input--checkbox {
  display: none;
}

.registration__input-block--institution {
  display: none;
}

.registration__input-field--noSchool {
  margin-top: 10px;
}

.registration__label--checkbox {
  font-size: 14px;
  line-height: 18px;
  padding: 0 0 0 35px;
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  cursor: pointer;

  &:before {
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #cbcbcb;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  .registration__input--checkbox:checked + & {
    &:after {
      content: '';
      width: 11px;
      height: 19px;
      border: 2px solid #000000;
      border-left: none;
      border-top: none;
      display: block;
      position: absolute;
      top: -2px;
      left: 5px;
      transform-origin: 50% 50%;
      transform: translate(50%) rotate(45deg);
    }
  }


  @media (min-width: @tablet) {
    line-height: 25px;
  }
}

.registration__controls {
  padding: 30px 0;
}



.registration__hint {
  color: @additional-text-color;
  font-size: 14px;
  line-height: 18px;
  padding: 0 0 30px;


  @media (min-width: @desktop) {
    font-size: 16px;
    line-height: 26px;
  }
}

.autocomplete-suggestions {
  text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);

  /* core styles should not be changed */
  position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }

