.registration-check__block-header {
  .h4();
}



.registration-check__block {
  padding: 0 0 20px;


  @media (min-width: @desktop) {
    padding: 0 0 40px;
  }
}



.registration-check__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(~'100% + 20px');
  margin: 0 -10px;
}



.registration-check__item {
  padding: 10px 0 0;

  &--class {
    width: calc(~'50% - 20px');
    padding: 0;
    margin: 5px 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }


  @media (min-width: @tablet) {
    &--class {
      width: calc(~'33.333333% - 20px');
    }
  }

  @media (min-width: @desktop) {
    &--class {
      width: calc(~'25% - 20px');
    }
  }
}



.registration-check__name {
  font-size: 12px;
  line-height: 16px;
  color: @additional-text-color;

  .registration-check__item--class & {
    width: 60px;
  }
}



.registration-check__value {
  font-weight: 500;
}
