.event-card__link {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}



.event-card__img-wrapper {
  width: 86px;
  flex-shrink: 0;
  .block-stroke();

  .event-card__link:hover &,
  .event-card__link:focus & {
    outline: none;
    box-shadow: 0 8px 20px #c3ccde;
  }


  @media (min-width: @tablet) {
    width: 100px;
  }

  @media (min-width: @desktop) {
    width: 160px;
  }
}



.event-card__img {
  display: block;
  margin: 0 auto;
}



.event-card__info {
  padding: 0 0 0 15px;


  @media (min-width: @desktop) {
    padding: 0 0 0 30px;
  }
}



.event-card__date {
  .time();
}



.event-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  margin: 10px 0 5px;


  @media (min-width: @desktop) {
    font-size: 24px;
    line-height: 29px;
    margin: 25px 0 15px;
  }
}



.event-card__description {
  font-size: 14px;
  line-height: 18px;


  @media (min-width: @desktop) {
    font-size: 16px;
    line-height: 26px;
  }
}
