.events {
  @media (min-width: @tablet) {
    padding: 20px 0 0;
  }
}



.events__list {
  list-style: none;


  @media (min-width: @tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(~'100% + 30px');
    margin: 0 -15px;
  }
}



.events__item {
  margin: 0 0 15px;


  @media (min-width: @tablet) {
    width: calc(~'50% - 30px');
    margin: 0 15px 15px;
  }
}
.event-sections{
  display: flex;
  @media (max-width: @tablet) {
    display: block;
  }
}
.event-content{
  width: 70%;
  @media (min-width: @tablet) {
    padding-right: 30px;
  }
  @media (max-width: @tablet) {
    width: 100%;
  }
}
.sidebar{
  width: 30%;
  padding: 50px 0 0 30px;
  @media (min-width: @tablet) {
    padding-left: 0;
    padding-top: 0;
  }
  @media (max-width: @tablet) {
    width: 100%;
    padding-left: 0;
  }
}
.news-wrap{
  padding: 15px 0;
  margin-bottom: 70px;
  @media (max-width: @tablet) {
    border: none;
    padding: 15px 0;
  }
  @media (max-width: @tablet) {
    display: none;
  }
}


.date-publication{
  color: #7A7A7A;
  font-size: 16px;
  display: block;
  padding: 0 0 10px;
}
.news-item{
  display: block;
  margin: 0 -15px 25px -15px;
  padding: 0 15px;
  &__command{
    color: #333333;
    font-size: 20px;
  }
  &__info{
    font-size: 14px;
    color: #333333;
  }
  &:hover{
    background: linear-gradient(296.85deg, rgba(255, 242, 247, 0.85) -2.83%, rgba(93, 74, 247, 0.85) 81.26%);
    *{color: #ffffff;}
  }
}
.news-content{
  border-radius: 10px;
  border: solid 1px #F2F5FA;
  padding: 15px 15px;

}
.news-link-page{
  transition: 0.6s;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:hover{
    color: #5d4af7;
    .news-link-page__icon{
      fill: #5d4af7;
    }
  }
  &__icon{
    transition: 0.6s;
  }
}
.shares{
  //padding: 0 0 0 15px;
  @media (max-width: @tablet) {
    display: none;
  }
}
.shares-soc{
  display: flex;
  padding-top: 15px;
}
.bx-calendar-active{
  border-radius: 100%;
  background: #5D4AF7;
  color: #fff !important;
}
.bx-calendar-cell{
  border: solid 1px #fff;
  margin: 0 2px 0 4px;
}
.bx-calendar-cell:hover{
  border-radius: 100%;
  border: solid 1px #5D4AF7;
  background: none;
  color: #5D4AF7 !important;
}
.bx-calendar{
  width: 320px;
}
.bx-calendar-range{
  border-bottom: none;
}
.popup-window{
  border-radius: 5px;
}
.bx-calendar-layer{
  width: 223px;
  margin: auto;
  text-align: center;
}
.bx-calendar-header{
  text-align: center;
  position: relative;
  z-index: 6;
  padding-top: 10px;
}
.bx-calendar-name-day-wrap{
  background-color: transparent;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  margin-top: 20px;
}
.bx-calendar-name-day{
  margin: 0 4px;
}
.bx-calendar-left-arrow, .bx-calendar-right-arrow{
  position: absolute;
  top: 12px;
  background: none;
  &:before{
    width: 8px;
    height: 8px;
    content: '';
    display: block;
    transform: rotate(45deg);
    margin: 10px auto 0;
  }
  &:hover{
    background: none;
  }
}
.bx-calendar-left-arrow{
  left: 20px;
  &:before{
    border-bottom: solid 2px #000;
    border-left: solid 2px #000;
  }
}
.bx-calendar-right-arrow{
  right: 20px;
  &:before{
    border-top: solid 2px #000;
    border-right: solid 2px #000;
  }
}
.bx-calendar-top-year{
  display: none !important;
}