.news {
	position: relative;
	padding: 97px 0 10px;
	@media (max-width: @tablet) {
		padding: 20px 0 10px;
	}
}

.news__list {
	list-style: none;

	@media (min-width: @tablet) {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: stretch;
		width: calc(~'100% + 30px');
		margin: 0 -15px;
	}
}

.news__item {
	@media (min-width: @tablet) {
		width: calc(~'33.333333% - 30px');
		margin: 0 15px 15px;
	}
}
.tns-inner {
	@media (max-width: @tablet) {
		margin-left: 0 !important;
	}
}
.vk-block {
	background: #000;
	height: 50px !important;
	width: 300px;
	@media (max-width: @tablet) {
		position: absolute;
		left: 0;
		bottom: 0;
	}
}
