.news-card__link {
  display: block;
}
.news-card{
  height: 100%;
}
.news-card__hover-block{
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  right: 0;
  margin: 0 auto 0 auto;
  height: 100%;
  border-radius: 5px;
  padding: 20px;
  color: #fff;
  transition: 0.5s;
  background: rgb(93,74,247); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(93,74,247,1) 0%, rgba(255,242,247,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(93,74,247,1) 0%,rgba(255,242,247,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(93,74,247,1) 0%,rgba(255,242,247,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d4af7', endColorstr='#fff2f7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.news-card__link{
  height: 100%;
  position: relative;
  &:hover{
    .news-card__hover-block{
      opacity: 1;
      z-index: 3;
    }
    .news-card__img-wrapper{

      @media(min-width: @tablet){
        img{
          opacity: 0;
        }
      }
    }
  }
  &.no-img{
    .news-card__img-wrapper{
      position: relative;

      background: rgb(93,74,247); /* Old browsers */
      background: -moz-linear-gradient(-45deg, rgba(93,74,247,1) 0%, rgba(255,242,247,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, rgba(93,74,247,1) 0%,rgba(255,242,247,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, rgba(93,74,247,1) 0%,rgba(255,242,247,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d4af7', endColorstr='#fff2f7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
    .news-card__hover-block{
      opacity: 1;
      .button__decoration{
        opacity: 0;
        transition: 0.3s;
      }
    }
    &:hover{
      .button__decoration{
        opacity: 1;
      }
    }
  }
}
.news-card__img-wrapper{
  height: 87%;
  display: flex;
  align-items: center;
  .block-stroke();
  position: relative;
  margin: 0 0 25px;
  overflow: hidden;

  .news-card__link:hover &,
  .news-card__link:focus & {
    outline: none;
    box-shadow: 0 8px 20px #c3ccde;
  }
  @media(max-width: @tablet){
    max-width: 348px;
  }
  img{
    position: relative;
    z-index: 2;
    transition: 0.3s;
  }

}
.news-card__link{

}


.news-card__img {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  @media(max-width: @tablet){
    margin: 0;
  }
}



.news-card__date {
  .time();
}



.news-card__name {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;


  @media (min-width: @desktop) {
    font-size: 20px;
    line-height: 29px;
  }
}
.open-news{
  display: block;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 46px;
  height: 35px;
  .button__decoration{
    display: block;
    width: 46px;
    height: 35px;
    border-radius: 5px;
    border: solid 2px #fff;
    background: none;
    &:before{
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: url("../img/next-arr.png") no-repeat center;
    }
  }
}
.bg-blur {
  -webkit-filter: url(#blur);
  filter: url(#blur);
  -webkit-filter: blur(5px);
  filter: blur(5px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
  -webkit-transition: 1s -webkit-filter linear;
  transition: 1s filter linear;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  left: 0;
  top: 0;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center;
  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #000;
    opacity: 0.3;
  }
}